.i icon-blue {
    color: black;
}

.contact-us-heading {
  font-family: 'Julius Sans One', sans-serif;
  color: black;

}

.contact-text {
  font-family: 'Julius Sans One', sans-serif;
  color: black;
  float: right;
}

.btnsubmit {
	background-color: #ff5722!important;
}

.background-image {
	background-image:url(http://www.ipu.ac.in/data0/images/1.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}