#mycontainer
{
    margin-top:5vh;
}
.typewrite{ 
    color:white; 
    text-decoration: none;
}
.canvas{

  background-color: rgba(0,0,0,0.2);
}


#myInput {
    color: black;
    background-color: #f1f1f1;
    width: 100%;
    font-size: 16px;
    margin-top: 15vh;
    border: 2px solid black;
    border-radius:5px;
    padding-left: 5px;
}