body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    overflow-x: hidden;
    background-color: white;
    /*background-image: url('/images/1.jpg');*/
}

.background-canvas {
    background-image: url('/images/1.jpg');
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
}

#section2 {
  background: white ;
  
}
.preloader {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    z-index: 2000000000;
    padding-top: 25vh;
    text-align: center;
}

.preloader > img {
    animation: logo 1s infinite alternate ease-in-out;
}
/*========== CANVAS ========================*/
.mainCanvas {
    width: 868px;
    height: 654px;
    position: fixed;
    z-index: -1;
}
/*============ END CANVAS ===================*/


/*============ CANVAS CONTENT ===============*/
.main {
    height: 100%;
}

.full-section {
    min-height: 100%;
}


#scrollDownButton {
    position: absolute;
    float: left;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    padding: 10px;
    z-index: 10;
}


.downarrow {
    height: 40px;
    width: 40px;
    animation: arrow 0.8s infinite alternate cubic-bezier(0.4, 0, 1, 1);
}



@keyframes arrow {

    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 15px);
    }
}

.headercard {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    transition: all 1s ease;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 1.1rem;
    font-weight: bolder;
}

.headercard:hover {
    /*background-color : rgba(241,101,36,0.2);*/
}

.logoCanvas {
    animation: logo 3s infinite alternate;
}

.event-snapshot {
  display: block;
   height: 600px;

}

#campus {
  height: 1000px;
}

.campus-image {
    transform: rotateY(1deg);
}
@keyframes logo {
    0% {
    transform: scale(1);
}
100% {
    transform: scale(1.1);
}
}


.loaderfooter {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    text-align: center;
    width: 100%;
}

.loaderfooterlinks {
    background-color: rgba(100,100,100,0.3);
    padding: 10px;
}

.loaderfooterlogos {
    opacity: 0.7;
}

.loaderfooterlogos:hover {
    opacity: 1;
    transition: all 0.3s ease;

}

.fb {
    color: #3B5998;
    font-weight: bold;
    font-size: 15px;
}

.footerlinks {
    display: inline-block;
    color: #777;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 2px;
    /* text-shadow: 0px 2px 2px rgba(150, 150, 150, 1); */
}

@media(max-width: 700px){
    .loaderfooter {
        display: none;
    }
    #scrollDownButton {
        bottom: 30px;
    }

}

.carousel-iframe {
    width:100%;
    height:75vh;
    border:none;
}
.counter-iframe{
    width: 100%;
    border:none;
}


.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border: 2px solid white;
  padding: 10px;
}

.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-content {
    text-align: justify;
}

#register-float-card {
    float: right;
    margin-right: 0px;
}

#card-hackathon {
    margin-top : 0px;
}

/*
.campus-image {
    position: relative;
    height: 500px;
    margin: 0 auto;
    text-align: center;
    animation: campus 3s infinite alternate linear;
    margin-top: 100px;
}

.campus-div {
    width: 100%;
    text-align: center;
}*/


@keyframes campus {
    0% {
    transform: scale(1);
}
100% {
    transform: scale(1.02);
}
}


/*=========== END CANVAS CONTENT =============*/



/*path,rect {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear alternate infinite;
  animation-delay: 3s;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}*/

.stripped {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -moz-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: -o-repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
  -webkit-background-size: 4px 4px;
  -moz-background-size: 4px 4px;
  background-size: 4px 4px;
  background-color: rgba(0,0,0,0.8);
  
  font-family: 'Cousine', monospace;
  border: 2px solid #f3622f;
  border-top: none;
  display: none;    
  left : 25%;
  position: absolute;
  top: 0px;
  width: 50%;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
}

@media(max-width: 700px){
  .stripped{ 
  width: 100%;
  left: 0;
}
  #section2 {
     background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
}



  .dotted {
  padding: 2.25em 1.6875em;
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.5), rgba(0,0,0,.5) 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, rgba(0,0,0,.5), rgba(0,0,0,.5) 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, rgba(0,0,0,.5), rgba(0,0,0,.5) 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, rgba(0,0,0,.5), rgba(0,0,0,.5) 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 3px 3px;
  -moz-background-size: 3px 3px;
  background-size: 3px 3px;
 
  font-family: 'Cousine', monospace;
  border: 2px solid #f3622f;
  display: none;    
  left : 25%;
  position: absolute;
  top: 0px;
  width: 50%;
  -webkit-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75); 
  }

 .stripped-title {
    color: #f3622f;
    margin-bottom: 0px;
 }

.stripped-text {
    font-weight: 500;
    font-size: 16px;

}

.stripped hr {
    height: 1px;
    border: 0;
    background-color: hsla(0,0%,100%,.25);
    margin: 0;
    display: block;
    border-right: 1px solid #fff;
    border-left: 24px solid #e8f2ff;
    border-left: 26px solid #e8f2ff;
}


.closestripped {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: transparent;
    outline: none;
    border: 2px solid #fd5e3a;
    border-top: none;
    color: white;
    margin-top: -2px;
    margin-right: -2px;

    -webkit-transition: all .5s ease-in 0s;
    -transition: all .5s ease-in 0s;
    -o-transition: all .5s ease-in 0s;
    transition: all .5s; 
}

.closestripped:hover {
    background-color: #fd5e3a;
}


/*================ TERMINAL ================*/

.terminallink {
    background-color: rgb(70,70,70);
    position: fixed;
    right: 0px;
    top: 100px;
    width: 50px;
    height: 40px;
    font-size: 25px;
    z-index: 100000000;
    background-image: url('https://www.jsconfar.com/static/styles/images/backterminalhandle2.png');
    background-size: 100px 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 2px solid #ccc;
    border-right: none;
    border-radius: 2px;
}

.terminal {
    position: fixed;
    top:0px;
    left: 0px;
    height: 100%;
    z-index: 100000000;
}

.Terminal {
    display: none; 
    overflow-x: hidden;
    color: white;
    background: rgba(0,0,0,0.8);
    border-right: 2px solid #f3622f;
   

}

.Terminal::-webkit-scrollbar {
    width: 0.5em;
}

.Terminal::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
}

.Terminal::-webkit-scrollbar-thumb {
  outline: 1px solid slategrey;

}


.logo-event-svg {
  animation: logo-event 3s infinite alternate linear;
}    

#anim1 {
    animation-delay: 1.5s;
}

#anim2 {
    animation-delay: 1s;
}

#anim3 {
    animation-delay: 2s;
}

#anim4 {
    animation-delay: 2.5s;
}

@keyframes logo-event {

     0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 15px);
    }

}
/*================ END TERMINAL ================*/

paths {
  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation: pulsate 5s ease-out;
  -moz-animation-iteration-count: infinite;
  -ms-animation: pulsate 5s ease-out;
  -ms-animation-iteration-count: infinite;
  animation: pulsate 5s ease-out;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 3; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 3; }
}

@-moz-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 3; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 3; }
}

@-ms-keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 3; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 3; }
}

@keyframes pulsate {
  0%    { opacity:0.4; stroke-width: 3; }
  50%   { opacity:1.0; stroke-width: 5; }
  100%  { opacity:0.4; stroke-width: 3; }
}