body,
html {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    overflow-x: hidden;
    background-color: white;
    background-image: url('/images/1.jpg');
}


/*========== CANVAS ========================*/
.mainCanvas {
    width: 868px;
    height: 654px;
    position: fixed;
    z-index: -1;
}
/*============ END CANVAS ===================*/


/*============ CANVAS CONTENT ===============*/
.main {
    height: 100%;
}

.full-section {
    min-height: 100%;
}


#scrollDownButton {
    position: absolute;
    float: left;
    left: 50%;
    transform: translate(-50%);
    bottom: 50px;
    padding: 10px;
    z-index: 10;
}


.downarrow {
    height: 40px;
    width: 40px;
    animation: arrow 0.8s infinite alternate cubic-bezier(0.4, 0, 1, 1);
}



@keyframes arrow {

    0% {
        transform: translate(0px, 0px);
    }

    100% {
        transform: translate(0px, 15px);
    }
}

.headercard {
    position: absolute;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    transition: all 1s ease;
}

.headercard:hover {
    /*background-color : rgba(241,101,36,0.2);*/
}

.logoCanvas {
    animation: logo 3s infinite alternate;
}


@keyframes logo {
    0% {
    transform: scale(1);
}
100% {
    transform: scale(1.1);
}
}

.loaderfooter {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    text-align: center;
    width: 100%;
    background-color: rgba(100,100,100,0.3);
    padding: 10px;
}

.fb {
    color: #3B5998;
    font-weight: bold;
    font-size: 15px;
}

.footerlinks {
    display: inline-block;
    color: #777;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 30px;
    letter-spacing: 2px;
    /* text-shadow: 0px 2px 2px rgba(150, 150, 150, 1); */
}

@media(max-width: 700px){
    .loaderfooter {
        display: none;
    }
    #scrollDownButton {
        bottom: 30px;
    }
    
}

/*=========== END CANVAS CONTENT =============*/



/*=========== SVG Animation css ==============

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s linear alternate infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

==============================================*/