<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<div class="container" style= "margin-top:10vh;background-color:rgba(0,0,0,0.8);color:black;padding:0px;border:0.5px solid black;margin-bottom:10em">
    <div class="row" style="color:white;padding-top:5px;padding-bottom:5px;padding-left:20px;margin:0px"id="varHt1">
        <h3><span style="color: #db5726;">About</span> Us</h3>
    </div>
    <div class="col s12" style="background:white;padding:30px"id="varHt2">
        <p style="font-size:20px">
              <span style="color: #db5726; font-weight: 700">InfoXpression</span> is the annual technical fest of Guru Gobind Singh Indraprastha University organized by University School of Information and Communication Technology. It is the biggest technical extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of students from over 250 colleges of north India. An exhilarating voyage of technical know-how, InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop, culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and imagination. It will be a perfect blend of entertainment and technology with the aim of transformation and empowerment of the society.
        </p>
    </div>
    <div class="row" style="background:white;border-top:0.5px;margin:0px;"id="content">
        <div class="col s4" style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count1">3</h5></center>
        </div>
        <div class="col s4" style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count2">18</h5></center>
        </div>
        <div class="col s4" style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count3">2000</h5></center>
        </div>
    </div>
    <div class="row" style="background:rgba(0,0,0,0.5);border-top:0.5px;margin:0px;color:white" id="content2">
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Days</h6></center>
        </div>
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Events</h6></center>
        </div>
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Brains</h6</center>
        </div>
    </div>
</div>
<%= render 'aboutjsandcss'%>
      <script id="img-wrapper-tmpl" type="text/x-jquery-tmpl">
      <div class="rg-image-wrapper">
        {{if itemsCount > 1}}
          <div class="rg-image-nav">
            <a href="#" class="rg-image-nav-prev">Previous Image</a>
            <a href="#" class="rg-image-nav-next">Next Image</a>
          </div>
        {{/if}}
        <div class="rg-image"></div>
        <div class="rg-loading"></div>
        <div class="rg-caption-wrapper">
          <div class="rg-caption" style="display:none;">
            <p></p>
          </div>
        </div>
      </div>
    </script>
    <div style="background-color: black; color: #db5726; width: 60%; padding: 1px;">
      <h4>Glimpses <span style="color: white;">from the past!</span></h4>
    </div>
    <br><br>
    <div class="container">
      <div class="content">
        <div id="rg-gallery" class="rg-gallery">
          <div class="rg-thumbs">
            <!-- Elastislide Carousel Thumbnail Viewer -->
            <div class="es-carousel-wrapper">
              <div class="es-nav">
                <span class="es-nav-prev">Previous</span>
                <span class="es-nav-next">Next</span>
              </div>
              <div class="es-carousel">
                <ul>
                  <li><a href="#"><img src="uploads/thumbs/1.jpg" data-large="uploads/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/2.jpg" data-large="uploads/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/3.jpg" data-large="uploads/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/4.jpg" data-large="uploads/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/1.jpg" data-large="uploads/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/2.jpg" data-large="uploads/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/3.jpg" data-large="uploads/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/4.jpg" data-large="uploads/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/1.jpg" data-large="uploads/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/2.jpg" data-large="uploads/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/3.jpg" data-large="uploads/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/4.jpg" data-large="uploads/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/1.jpg" data-large="uploads/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/2.jpg" data-large="uploads/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/3.jpg" data-large="uploads/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/4.jpg" data-large="uploads/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/1.jpg" data-large="uploads/1.jpg" alt="image01" data-description="From off a hill whose concave womb reworded" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/2.jpg" data-large="uploads/2.jpg" alt="image02" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/3.jpg" data-large="uploads/3.jpg" alt="image03" data-description="A plaintful story from a sistering vale" /></a></li>
                  <li><a href="#"><img src="uploads/thumbs/4.jpg" data-large="uploads/4.jpg" alt="image04" data-description="My spirits to attend this double voice accorded" /></a></li>
                </ul>
              </div>
            </div>
            <!-- End Elastislide Carousel Thumbnail Viewer -->
          </div><!-- rg-thumbs -->
        </div><!-- rg-gallery -->
      </div><!-- content -->
    </div><!-- container -->
