<div class="container" style= "margin-top:10vh;background-color:rgba(0,0,0,0.8);color:black;padding:0px;border:0.5px solid black;margin-bottom:20vh">
    <div class="row" style="color:white;padding-top:5px;padding-bottom:5px;padding-left:20px;margin:0px"id="varHt1">
        <h3><span style="color: #db5726;">About</span> Us</h3>
    </div>
    <div class="col s12"style="background:white;padding:30px"id="varHt2">
        <p style="font-size:20px">
		          <span style="color: #db5726; font-weight: 700">InfoXpression</span> is the annual technical fest of Guru Gobind Singh Indraprastha University organized by University School of Information and Communication Technology. It is the biggest technical extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of students from over 250 colleges of north India. An exhilarating voyage of technical know-how, InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop, culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and imagination. It will be a perfect blend of entertainment and technology with the aim of transformation and empowerment of the society.
        </p>
    </div>
    <div class="row"style="background:white;border-top:0.5px;margin:0px;"id="content">
        <div class="col s4"style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count1">3</h5></center>
        </div>
        <div class="col s4"style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count2">18</h5></center>
        </div>
        <div class="col s4"style="padding-top:60px;padding-bottom:60px;background:#81409c;color:white;border:0.5px solid white">
            <center><h5 id="count3">2000</h5></center>
        </div>
    </div>
    <div class="row" style="background:rgba(0,0,0,0.5);border-top:0.5px;margin:0px;color:white" id="content2">
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Days</h6></center>
        </div>
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Events</h6></center>
        </div>
        <div class="col s4" style="border:0.5px solid white;padding-top:25px;padding-bottom:25px">
            <center><h6 style="font-weight: 700;">Brains</h6</center>
        </div>
    </div>
</div>
<div class="container" style="background-color: #fefefc; width: 90%; box-shadow: 1px 1px 1px 1px black;">
  <h3 style=" text-align: center;text-transform: uppercase; color: white;background-color: black; border-top: 4px solid black;border-bottom: 4px solid black; padding:5px;"><span style="color: #db5726;font-weight: 700;">Glimpses</span> from the past!</h3>
<div id="carousel">
  <div id="loader-wrapper">
      <div id="loader"></div>
  </div>
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-1" />
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-2" />
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-3" />
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-4" />
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-5" />
  <img src="https://wallpaperbrowse.com/media/images/html-color-codes-color-tutorials-hero-00e10b1f.jpg" id="item-6" />
  <img src="https://wallpaperbrowse.com/media/images/free-photo-background-952.jpg" id="item-7" />
  <img src="https://wallpaperbrowse.com/media/images/free-photo-background-952.jpg" id="item-8" />
  <img src="https://wallpaperbrowse.com/media/images/free-photo-background-952.jpg" id="item-9" />
  <img src="https://wallpaperbrowse.com/media/images/free-photo-background-952.jpg" id="item-10" />
  <img src="https://wallpaperbrowse.com/media/images/free-photo-background-952.jpg" id="item-11" />
</div>
</div>
<script>
      $(document).ready(function () {
        var carousel = $("#carousel").waterwheelCarousel({
          flankingItems: 3,
          movingToCenter: function ($item) {
            $('#callback-output').prepend('movingToCenter: ' + $item.attr('id') + '<br/>');
          },
          movedToCenter: function ($item) {
            $('#callback-output').prepend('movedToCenter: ' + $item.attr('id') + '<br/>');
          },
          movingFromCenter: function ($item) {
            $('#callback-output').prepend('movingFromCenter: ' + $item.attr('id') + '<br/>');
          },
          movedFromCenter: function ($item) {
            $('#callback-output').prepend('movedFromCenter: ' + $item.attr('id') + '<br/>');
          },
          clickedCenter: function ($item) {
            $('#callback-output').prepend('clickedCenter: ' + $item.attr('id') + '<br/>');
          }
        });

        $('#prev').bind('click', function () {
          carousel.prev();
          return false
        });

        $('#next').bind('click', function () {
          carousel.next();
          return false;
        });

        $('#reload').bind('click', function () {
          newOptions = eval("(" + $('#newoptions').val() + ")");
          carousel.reload(newOptions);
          return false;
        });

      });

        positioning={reached:false};
        var initialScrollPosition= $(window).scrollTop(),
        elementOffset = $('#content').offset().top+$('#content').height()/3,
        distance = (elementOffset - initialScrollPosition)-$(window).height();
        if(distance<=0)
        {
            if(positioning.reached==false)
            {
                positioning.reached=true;
                doAnimation();
            }
            console.log("We have reached");
        }
        $(window).scroll(function ()
        {
            var scrollExtent=$(window).scrollTop();
            distance = (elementOffset - scrollExtent)-$(window).height();
            if(distance<=0)
            {
                if(positioning.reached==false)
                {
                    positioning.reached=true;
                    doAnimation();
                    console.log("We've reached");
                }
            }
        });
        function doAnimation()
        {
                $('#count1').each(function () {
                    $(this).prop('Counter',0).animate({
                    Counter: $(this).text()
                    }, {
                    duration: 4000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                    });
                });


                $('#count2').each(function () {
                $(this).prop('Counter',0).animate({
                Counter: $(this).text()
                }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
                });
                });


                $('#count3').each(function () {
                $(this).prop('Counter',0).animate({
                Counter: $(this).text()
                }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
                });
            });
        }


(function(a){a.fn.waterwheelCarousel=function(r){if(this.length>1){this.each(function(){a(this).waterwheelCarousel(r)});return this}var m=this;var c={};var t={};function j(){t={itemsContainer:a(m),totalItems:a(m).find("img").length,containerWidth:a(m).width(),containerHeight:a(m).height(),currentCenterItem:null,previousCenterItem:null,items:[],calculations:[],carouselRotationsLeft:0,currentlyMoving:false,itemsAnimating:0,currentSpeed:c.speed,intervalTimer:null,currentDirection:"forward",leftItemsCount:0,rightItemsCount:0,performingSetup:true};t.itemsContainer.find("img").removeClass(c.activeClassName)}function l(u){clearTimeout(t.autoPlayTimer);if(!u&&c.autoPlay!==0){t.autoPlayTimer=setTimeout(function(){if(c.autoPlay>0){n("forward")}else{n("backward")}},Math.abs(c.autoPlay))}}function h(x){if(c.preloadImages===false){x();return}var v=t.itemsContainer.find("img"),u=0,w=v.length;v.each(function(){a(this).bind("load",function(){u+=1;if(u===w){x();return}});a(this).attr("src",a(this).attr("src"));if(this.complete){a(this).trigger("load")}})}function d(){t.itemsContainer.find("img").each(function(){if(a(this).data("original_width")==undefined||c.forcedImageWidth>0){a(this).data("original_width",a(this).width())}if(a(this).data("original_height")==undefined||c.forcedImageHeight>0){a(this).data("original_height",a(this).height())}})}function e(){if(c.forcedImageWidth&&c.forcedImageHeight){t.itemsContainer.find("img").each(function(){a(this).width(c.forcedImageWidth);a(this).height(c.forcedImageHeight)})}}function s(){var v=t.itemsContainer.find("img:first");t.calculations[0]={distance:0,offset:0,opacity:1};var u=c.horizonOffset;var x=c.separation;for(var w=1;w<=c.flankingItems+2;w++){if(w>1){u*=c.horizonOffsetMultiplier;x*=c.separationMultiplier}t.calculations[w]={distance:t.calculations[w-1].distance+x,offset:t.calculations[w-1].offset+u,opacity:t.calculations[w-1].opacity*c.opacityMultiplier}}if(c.edgeFadeEnabled){t.calculations[c.flankingItems+1].opacity=0}else{t.calculations[c.flankingItems+1]={distance:0,offset:0,opacity:0}}}function b(){t.items=t.itemsContainer.find("img");for(var u=0;u<t.totalItems;u++){t.items[u]=a(t.items[u])}if(c.horizon===0){if(c.orientation==="horizontal"){c.horizon=t.containerHeight/2}else{c.horizon=t.containerWidth/2}}t.itemsContainer.css("position","relative").find("img").each(function(){var w,v;if(c.orientation==="horizontal"){w=(t.containerWidth/2)-(a(this).data("original_width")/2);v=c.horizon-(a(this).data("original_height")/2)}else{w=c.horizon-(a(this).data("original_width")/2);v=(t.containerHeight/2)-(a(this).data("original_height")/2)}a(this).css({left:w,top:v,visibility:"visible",position:"absolute","z-index":0,opacity:0}).data({top:v,left:w,oldPosition:0,currentPosition:0,depth:0,opacity:0}).show()})}function q(){c.startingItem=(c.startingItem===0)?Math.round(t.totalItems/2):c.startingItem;t.rightItemsCount=Math.ceil((t.totalItems-1)/2);t.leftItemsCount=Math.floor((t.totalItems-1)/2);t.carouselRotationsLeft=1;k(t.items[c.startingItem-1],0);t.items[c.startingItem-1].css("opacity",1);var u=c.startingItem-1;for(var v=1;v<=t.rightItemsCount;v++){(u<t.totalItems-1)?u+=1:u=0;t.items[u].css("opacity",1);k(t.items[u],v)}var u=c.startingItem-1;for(var v=-1;v>=t.leftItemsCount*-1;v--){(u>0)?u-=1:u=t.totalItems-1;t.items[u].css("opacity",1);k(t.items[u],v)}}function f(I,y){var z=Math.abs(y);if(z<c.flankingItems+1){var x=t.calculations[z]}else{var x=t.calculations[c.flankingItems+1]}var A=Math.pow(c.sizeMultiplier,z);var C=A*I.data("original_width");var w=A*I.data("original_height");var v=Math.abs(I.width()-C);var B=Math.abs(I.height()-w);var D=x.offset;var J=x.distance;if(y<0){J*=-1}if(c.orientation=="horizontal"){var u=t.containerWidth/2;var H=u+J-(C/2);var F=c.horizon-D-(w/2)}else{var u=t.containerHeight/2;var H=c.horizon-D-(C/2);var F=u+J-(w/2)}var E;if(y===0){E=1}else{E=x.opacity}var G=c.flankingItems+2-z;I.data("width",C);I.data("height",w);I.data("top",F);I.data("left",H);I.data("oldPosition",I.data("currentPosition"));I.data("depth",G);I.data("opacity",E)}function k(u,v){if(Math.abs(v)<=c.flankingItems+1){f(u,v);t.itemsAnimating++;u.css("z-index",u.data().depth).animate({left:u.data().left,width:u.data().width,height:u.data().height,top:u.data().top,opacity:u.data().opacity},t.currentSpeed,c.animationEasing,function(){g(u,v)})}else{u.data("currentPosition",v);if(u.data("oldPosition")===0){u.css({left:u.data().left,width:u.data().width,height:u.data().height,top:u.data().top,opacity:u.data().opacity,"z-index":u.data().depth})}}}function g(u,v){t.itemsAnimating--;u.data("currentPosition",v);if(v===0){t.currentCenterItem=u}if(t.itemsAnimating===0){t.carouselRotationsLeft-=1;t.currentlyMoving=false;if(t.carouselRotationsLeft>0){p(0)}else{t.currentSpeed=c.speed;t.currentCenterItem.addClass(c.activeClassName);if(t.performingSetup===false){c.movedToCenter(t.currentCenterItem);c.movedFromCenter(t.previousCenterItem)}t.performingSetup=false;l()}}}function p(v){if(t.currentlyMoving===false){t.currentCenterItem.removeClass(c.activeClassName);t.currentlyMoving=true;t.itemsAnimating=0;t.carouselRotationsLeft+=v;if(c.quickerForFurther===true){if(v>1){t.currentSpeed=c.speed/v}t.currentSpeed=(t.currentSpeed<100)?100:t.currentSpeed}for(var y=0;y<t.totalItems;y++){var w=a(t.items[y]);var z=w.data("currentPosition");var x;if(t.currentDirection=="forward"){x=z-1}else{x=z+1}var u=(x>0)?t.rightItemsCount:t.leftItemsCount;if(Math.abs(x)>u){x=z*-1;if(t.totalItems%2==0){x+=1}}k(w,x)}}}a(this).find("img").bind("click",function(){var v=a(this).data().currentPosition;if(c.imageNav==false){return}if(Math.abs(v)>=c.flankingItems+1){return}if(t.currentlyMoving){return}t.previousCenterItem=t.currentCenterItem;l(true);c.autoPlay=0;var u=Math.abs(v);if(v==0){c.clickedCenter(a(this))}else{c.movingFromCenter(t.currentCenterItem);c.movingToCenter(a(this));if(v<0){t.currentDirection="backward";p(u)}else{if(v>0){t.currentDirection="forward";p(u)}}}});a(this).find("a").bind("click",function(u){var v=a(this).find("img").data("currentPosition")==0;if(c.linkHandling===1||(c.linkHandling===2&&!v)){u.preventDefault();return false}});function o(){var u=t.currentCenterItem.next();if(u.length<=0){u=t.currentCenterItem.parent().children().first()}return u}function i(){var u=t.currentCenterItem.prev();if(u.length<=0){u=t.currentCenterItem.parent().children().last()}return u}function n(u){if(t.currentlyMoving===false){t.previousCenterItem=t.currentCenterItem;c.movingFromCenter(t.currentCenterItem);if(u=="backward"){c.movingToCenter(i());t.currentDirection="backward"}else{if(u=="forward"){c.movingToCenter(o());t.currentDirection="forward"}}}p(1)}a(document).keydown(function(u){if(c.keyboardNav){if((u.which===37&&c.orientation=="horizontal")||(u.which===38&&c.orientation=="vertical")){l(true);c.autoPlay=0;n("backward")}else{if((u.which===39&&c.orientation=="horizontal")||(u.which===40&&c.orientation=="vertical")){l(true);c.autoPlay=0;n("forward")}}if(c.keyboardNavOverride&&((c.orientation=="horizontal"&&(u.which===37||u.which===39))||(c.orientation=="vertical"&&(u.which===38||u.which===40)))){u.preventDefault();return false}}});this.reload=function(v){if(typeof v==="object"){var u=v}else{var u={}}c=a.extend({},a.fn.waterwheelCarousel.defaults,v);j();t.itemsContainer.find("img").hide();e();h(function(){d();s();b();q()})};this.next=function(){l(true);c.autoPlay=0;n("forward")};this.prev=function(){l(true);c.autoPlay=0;n("backward")};this.reload(r);return this};a.fn.waterwheelCarousel.defaults={startingItem:1,separation:150,separationMultiplier:0.8,horizonOffset:0,horizonOffsetMultiplier:1,sizeMultiplier:0.95,opacityMultiplier:0.8,horizon:0,flankingItems:3,speed:300,animationEasing:"linear",quickerForFurther:true,edgeFadeEnabled:false,linkHandling:2,autoPlay:3000,orientation:"horizontal",activeClassName:"carousel-center",keyboardNav:true,keyboardNavOverride:true,imageNav:true,preloadImages:true,forcedImageWidth:300,forcedImageHeight:187,movingToCenter:a.noop,movedToCenter:a.noop,clickedCenter:a.noop,movingFromCenter:a.noop,movedFromCenter:a.noop}})(jQuery);
</script>
