<%= render 'indexjsandcss'%>
	<!--Preloader-->
	<div class="preload">
    	<center>
        		<img src="/uploads/preloader.gif">
    	</center>
	</div>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!--WebGL-->
		<!--Main Div-->
		<div class="col s12 "id="maindiv"style="z-index:1;padding:0px;margin-bottom:35vh">
			<div class="row "id="logoCarrier"style="background:rgba(0,0,0,0.8);padding-top:35px;padding-bottom:35px">
				<div class="col s12 m6">
					<font color="white">
						<center>
							<h4>USICT<br>
							</h4>
							presents<br><br>
							<img src="/uploads/logo.jpg"height="100px"width="100px">
							<h4>InfoXpression
							</h4>
							<h3>
								2017
							</h3>
                            Where Innovation is a Religion
						</center>
					</font>
				</div>
				<div class="col s12 m6" id="lineOnLeft">
					<font color="white">
						<center>
							<br><br><br><br>
							Powered By:
							<br><br>
							<img src="/uploads/CNLOGO.svg"height="70px" width="130px">
							<br><br><br><br><br><br><br><br>
						</center>
					</font>
				</div>
			</div>
		</div><!--Main Div Closure-->
