	<!--Preloader-->
	<div class="preload">
    	<center>
        		<img src="/uploads/preloader.gif">
    	</center>
	</div>
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<!--WebGL-->
		<script src="/uploads/threedata/three.js"></script>

		<script src="/uploads/threedata/Detector.js"></script>

		<script>
			if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
			var container, stats;
			var camera, scene, renderer, particles, geometry, materials = [], parameters, i, h, color, size;
			var mouseX = 0, mouseY = 0;
			var windowHalfX = window.innerWidth / 2;
			var windowHalfY = window.innerHeight / 2;
			init();
			animate();
			function init() {
				container = document.createElement( 'div' );
				container.id="webglcontainer";
				document.body.appendChild( container );
				camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 3000 );
				camera.position.z = 1000;
				scene = new THREE.Scene();
				scene.fog = new THREE.FogExp2( 0x000000, 0.0007 );
				geometry = new THREE.Geometry();
				for ( i = 0; i < 20000; i ++ ) {
					var vertex = new THREE.Vector3();
					vertex.x = Math.random() * 2000 - 1000;
					vertex.y = Math.random() * 2000 - 1000;
					vertex.z = Math.random() * 2000 - 1000;
					geometry.vertices.push( vertex );
				}
				parameters = [
					[ [1, 1, 0.5], 5 ],
					[ [0.95, 1, 0.5], 4 ],
					[ [0.90, 1, 0.5], 3 ],
					[ [0.85, 1, 0.5], 2 ],
					[ [0.80, 1, 0.5], 1 ]
				];
				for ( i = 0; i < parameters.length; i ++ ) {
					color = parameters[i][0];
					size  = parameters[i][1];
					materials[i] = new THREE.PointsMaterial( { size: size } );
					particles = new THREE.Points( geometry, materials[i] );
					particles.rotation.x = Math.random() * 6;
					particles.rotation.y = Math.random() * 6;
					particles.rotation.z = Math.random() * 6;
					scene.add( particles );
				}
				renderer = new THREE.WebGLRenderer();
				renderer.setPixelRatio( window.devicePixelRatio );
				renderer.setSize( window.innerWidth, window.innerHeight );
				container.appendChild( renderer.domElement );
				//stats = new Stats();
				//container.appendChild( stats.dom );
				document.addEventListener( 'mousemove', onDocumentMouseMove, false );
				document.addEventListener( 'touchstart', onDocumentTouchStart, false );
				document.addEventListener( 'touchmove', onDocumentTouchMove, false );
				//
				window.addEventListener( 'resize', onWindowResize, false );
			}
			function onWindowResize() {
				windowHalfX = window.innerWidth / 2;
				windowHalfY = window.innerHeight / 2;
				camera.aspect = window.innerWidth / window.innerHeight;
				camera.updateProjectionMatrix();
				renderer.setSize( window.innerWidth, window.innerHeight );
			}
			function onDocumentMouseMove( event ) {
				mouseX = event.clientX - windowHalfX;
				mouseY = event.clientY - windowHalfY;
			}
			function onDocumentTouchStart( event ) {
				if ( event.touches.length === 1 ) {
					event.preventDefault();
					mouseX = event.touches[ 0 ].pageX - windowHalfX;
					mouseY = event.touches[ 0 ].pageY - windowHalfY;
				}
			}
			function onDocumentTouchMove( event ) {
				if ( event.touches.length === 1 ) {
					event.preventDefault();
					mouseX = event.touches[ 0 ].pageX - windowHalfX;
					mouseY = event.touches[ 0 ].pageY - windowHalfY;
				}
			}
			//
			function animate() {
				requestAnimationFrame( animate );
				render();
				//stats.update();
			}
			function render() {
				var time = Date.now() * 0.00005;
				camera.position.x += ( mouseX - camera.position.x ) * 0.05;
				camera.position.y += ( - mouseY - camera.position.y ) * 0.05;
				camera.lookAt( scene.position );
				for ( i = 0; i < scene.children.length; i ++ ) {
					var object = scene.children[ i ];
					if ( object instanceof THREE.Points ) {
						object.rotation.y = time * ( i < 4 ? i + 1 : - ( i + 1 ) );
					}
				}
				for ( i = 0; i < materials.length; i ++ ) {
					color = parameters[i][0];
					h = ( 360 * ( color[0] + time ) % 360 ) / 360;
					materials[i].color.setHSL( h, color[1], color[2] );
				}
				renderer.render( scene, camera );
			}
		</script>
		<!--Main Div-->
		<div class="col s12 "id="maindiv"style="z-index:1;padding:0px;margin-bottom:35vh">
			<div class="row "id="logoCarrier"style="background:rgba(0,0,0,0.8);padding-top:35px;padding-bottom:35px">
				<div class="col s12 m6">
					<font color="white">
						<center>
							<h4>USICT<br>
							</h4>
							presents<br><br>
							<img src="/uploads/logo.jpg"height="100px"width="100px">
							<h4>InfoXpression
							</h4>
							<h3>
								2017
							</h3>
                            Where Innovation is a Religion
						</center>
					</font>
				</div>
				<div class="col s12 m6" id="lineOnLeft">
					<font color="white">
						<center>
							<br><br><br><br>
							Powered By:
							<br><br>
							<img src="/uploads/CNLOGO.svg"height="70px" width="130px">
							<br><br><br><br><br><br><br><br>
						</center>
					</font>
				</div>
			</div>
			<!-- Element Showed -->
			<a id="menu" class="waves-effect waves-light btn btn-floating pulse" onclick="show()"style="position:fixed;bottom:0;right:0;z-index:99999;margin-right:10px;margin-bottom:10px"><i class="material-icons">menu</i></a>

			<!-- Tap Target Structure -->
			<div class="tap-target" data-activates="menu"style="background:orange;">
			  <div class="tap-target-content">
				<h5>Tap/Hover on the page to see the magic...</h5>
				<br>

			  </div>
			</div>
		</div><!--Main Div Closure-->
	<script>
    	$(function() {
    	    $(".preload").fadeOut(3000, function() {
    	        $("#maindiv").fadeIn(2000);
    	    });
    	});

	    $(document).ready(
	        function(){
	            document.getElementById('menu').click();
	        }
	    );
	    function show()
	    {
	    $('.tap-target').tapTarget('open');}


	</script>
	<style>
    	#lineOnLeft
    	{
    		border-left:0.5px solid white;
    	}
    	#logoCarrier
    	{
    		margin-top:25vh;
    	}
    	@media screen and (max-width:500px)
    	{
    		#lineOnLeft
    		{
    			border:0px;
    		}
    	}
    	@media screen and (max-width:600px)
    	{
    		#logoCarrier
    		{
    			margin-top:0px;
    		}
    	}
        #webglcontainer
        {
          width: 100vw;
          height: 100vh;
          display: block;
          position: fixed;
          top: 0;
          left: 0;
          z-index: -9999;
      }
      body
      {
    	background:url('/uploads/bg.jpg');
    	padding:0;
    	margin:0;
    	font-weight: bold;
    	overflow-x:hidden;
		overflow-y: auto;
        }
        .preload
        {
            height: 100%;
            width:100%;
            background:white;
			opacity:0.7;
            position: fixed;
            top:0;
			padding-top:40vh;
			z-index:111111;
        }
	</style>
