<head>
    <title>Home-InfoX'17</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="icon" href="/uploads/logo.jpg" type="image/ico">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <script src="https://use.fontawesome.com/d5ece74597.js"></script>
	<style>
	::-webkit-scrollbar {
	    width: 12px;
	    z-index:1;
	}

	::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 16px white;
	    border-radius: 0px;
	}

	::-webkit-scrollbar-thumb {
	    border-radius: 0px;
	    -webkit-box-shadow: inset 0 0 12px maroon;
	}
	body {
	    background-color: #181818;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: center center;
	}
	.slide {
	      animation-name: slide;
	      -webkit-animation-name: slide;
	      animation-duration: 4s;
	      -webkit-animation-duration: 4s;
	      visibility: visible;
	  }
	  @keyframes slide {
	      0% {
	        opacity: 0;
	        transform: translateY(70%);
	      }
	      100% {
	        opacity: 1;
	        transform: translateY(0%);
	      }
	    }
	    @-webkit-keyframes slide {
	      0% {
	        opacity: 0;
	        -webkit-transform: translateY(70%);
	      }
	      100% {
	        opacity: 1;
	        -webkit-transform: translateY(0%);
	      }
	}
	body {
	  margin: 0;
	  padding: 0;
	/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
	  background: #333;
	  background-attachment: fixed;
	  background-size: cover;
	}

	/* The only rule that matters */
	#video-background {
	/*  making the video fullscreen  */
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  z-index: -100;
	}

	/* These just style the content */
	article {
	/*  just a fancy border  */
	  position: absolute;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  border: 0px solid rgba(255, 255, 255, 0.5);
	  margin: 10px;
	}

	.mystyle
	{
	    border-radius:1000px 1000px 0px 0px;
	}
	@media screen and(max-width:500px) {
	    display:none;
	}
	.maindiv {display:none;}
	.navigator_custom {display:none;}
	.preload { width:100px;
	    height: 100%;
	    width:100%;
	    background:white;
	    position: fixed;
	    padding-top:40vh;
	    }



	    .triangle-right {
	    width: 0;
	    height: 0;
	    padding-top: 5%;
	    padding-bottom: 5%;
	    padding-left: 5%;
	    overflow: hidden;
	}
	.triangle-right:after {
	    content: "";
	    display: block;
	    width: 0;
	    height: 0;
	    margin-top:-500px;
	    margin-left: -500px;

	    border-top: 500px solid transparent;
	    border-bottom: 500px solid transparent;
	    border-left: 500px solid orange;
	}



	#shiva
	{
	  width: 100px;
		height: 100px;
		background: red;
		-moz-border-radius: 50px;
		-webkit-border-radius: 50px;
		border-radius: 50px;
	  float:left;
	  margin:5px;
	}
	.count
	{
	  line-height: 100px;
	  color:white;
	  margin-left:30px;
	  font-size:25px;
	}

	</style>
</head>
<div class="preload"><center><img src="/uploads/preloader.gif"></center>
</div>
<body>

    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>



<div class="container-fluid maindiv"style="padding:0px;height:150vh;background:rgba(255,255,255,0.5)">
<div class="container-fluid"style="width:100%;padding-top:5vh;">
    <center>
        <h1><b class="slide"style="font-family:Oswald">USICT</b><br/></h1><b class="slide">presents</b><br/><br/>
        <img src="/uploads/logo.jpg"height="100px"width="100px"class="slide">
    <h2><b class="slide"style="font-family:Open Sans Condensed">InfoXpression 2017 </b></h2><h3 class="slide"style="font-family:Open Sans Condensed"><b>Celebrating the Sense of Belonging</b></h3><br/> <span class="slide"><b>Sponsored By:</b><br/><a href="https://www.codingninjas.in/app/home"><img src="/uploads/CNLOGO.svg"height="80px"width="140px"></a></span>
<br/><br/><br/><br/><br/><br/><br/><br/>
</center>
</div>
<div class="container-fluid"style="border-top:5px solid black">
<center><img src="/uploads/construct.gif"class="img-responsive"></center>
</div>
</div><!--Main Div Container closed--->


<video autoplay loop id="video-background" style="opacity:0.8"muted plays-inline>
  <source src="/uploads/theme.mp4" type="video/mp4">
</video>
</body>
</html>
<script>
function hoverHandle(id)
{
    document.getElementById(id).style.backgroundColor="#f4511e";
}
function hoverHandleRemove(id)
{
    document.getElementById(id).style.backgroundColor="transparent";
}

  $(window).scroll(function(){
      $(".section").css("opacity", 1 - $(window).scrollTop() / 1000);
    });
$(window).scroll(function(){
    $(".section2").css("opacity", 1 - $(window).scrollTop() / 2500);
  });
  $(window).scroll(function(){
      $(".section3").css("opacity", 1 - $(window).scrollTop() / 3300);
    });
    $(window).scroll(function(){
        $(".section4").css("opacity", 1 - $(window).scrollTop() / 64000);
  });
$(function() {
    $(".preload").fadeOut(2000, function() {
        $(".maindiv").fadeIn(200);
        $(".navigator_custom").fadeIn(200);
    });
});


$('.count').each(function () {
    $(this).prop('Counter',0).animate({
        Counter: $(this).text()
    }, {
        duration: 4000,
        easing: 'swing',
        step: function (now) {
            $(this).text(Math.ceil(now));
        }
    });
});

</script>
