<style type="text/css">
	body{
		background-color: #263238;
	}
	h3,h4{
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		color: #f06423;
	}
	.jumbotron .h1, .jumbotron h1,p,b, strong {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
		color: black;
	}
	.jumbotron{
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;	
		background-color:#f4c413;
	}
	h2, strong{
		color:#f06423;
	}
	hr{
		height: 10px;
		border: 0;
		box-shadow: 0 10px 10px -10px #8c8b8b inset;
	}
	.btn{
		background-color: orange;
		font-family: 'Ubuntu', sans-serif;
		/*font-weight: 700;*/
		color: black;
	}
	</style>
<body>
<div class="container">
	<div class="row">
		<div class="col-lg-6">
			  <div class="jumbotron">
			    <h1><strong>Infox17</strong></h1> 
			    <p>Infoxpression is back bigger and better!!</p>
				<p>18th Oct - 22nd October</p> 
			    <p>At USICT, dwarka</p>  
			  </div>
		</div>
		<div class="col-lg-6">
			<h2><strong>Sponsored By:</strong></h2>
			<img style="height: 200px" src="https://www.codingninjas.in/assets/images/CNLOGO.svg">
		</div>
	</div>
	<hr>
	<h3>Confused about your Tech knowledge?</h3>
	<h4>Try out our Tech quiz!!</h4>
	<button class="btn btn-default btn-lg" data-toggle="modal" data-target="#quiz">Tech Quiz!</button>

	<!-- Modal -->
	<div class="modal fade" id="quiz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title" id="myModalLabel">Techspace tech quiz!</h4>
	      </div>
	      <div class="modal-body">
			<p>
				Welcome!
		        <br />
		        Asking question <span id="NumberAsked">1</span> of 10 with <span id="NumberCorrect">0</span> answers correct</p>
		    <p>
		        <span id="TriviaQuestion">???</span>
		    </p>
		    <p>
		        &nbsp;
		        <input id="RadioTrue" type="radio" value="true" name="answer" checked="checked" /> True
		        &nbsp;&nbsp;&nbsp;
		        <input id="RadioFalse" type="radio" value="false" name="answer" /> False
		    </p>
		    <p>
		        <input id="ButtonContinue" onclick="checkAnswer();" type="button" value="continue" />
		    </p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>
    <script language="javascript" type="text/javascript">
        // Array of trivia data
        var TriviaData = new Array(10)
        createTwoDimensionalArray(3);
 
        // Variables to track state of the game
        // i.e. number questions asked, current correct total and current question
        var questionsAsked = 0;
        var totalCorrect = 0;
        var currentQuestion = 0;
        var selectionValid = false;
 
        // Questions
        TriviaData[0][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[1][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[2][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[3][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[4][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[5][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[6][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[7][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[8][0] = "Some Random tech related ques to test the users knowledge";
        TriviaData[9][0] = "Some Random tech related ques to test the users knowledge";
   
        // Answers
        TriviaData[0][1] = "true";
        TriviaData[1][1] = "false";
        TriviaData[2][1] = "true";
        TriviaData[3][1] = "false";
        TriviaData[4][1] = "false";
        TriviaData[5][1] = "true";
        TriviaData[6][1] = "true";
        TriviaData[7][1] = "false";
        TriviaData[8][1] = "true";
        TriviaData[9][1] = "false";
 
        // Has question been asked
        // -- necessary because we are asking in random order
        TriviaData[0][2] = "no";
        TriviaData[1][2] = "no";
        TriviaData[2][2] = "no";
        TriviaData[3][2] = "no";
        TriviaData[4][2] = "no";
        TriviaData[5][2] = "no";
        TriviaData[6][2] = "no";
        TriviaData[7][2] = "no";
        TriviaData[8][2] = "no";
        TriviaData[9][2] = "no";
 
        // Load up first question
        setQuestion();
 
        // Sets question text and indicator so that we know the question has been displayed
        function setQuestion() {
            selectionValid = false; // Flag to make sure question has not been asked yet
            while (selectionValid == false) {
                currentQuestion = Math.floor(Math.random() * 10); // randomly select starting question
                if (TriviaData[currentQuestion][2] == "no") {
                    selectionValid = true;
                }
            }
            document.getElementById("TriviaQuestion").innerHTML = TriviaData[currentQuestion][0];
            TriviaData[currentQuestion][2] = "yes";
            questionsAsked = questionsAsked + 1;
        }
 
        function processAnswer(myAnswer) {
            if (TriviaData[currentQuestion][1] == myAnswer) {
                // answer correct
                totalCorrect = totalCorrect + 1;
            }
        }
 
        // This function creates our two dimensional array
        function createTwoDimensionalArray(arraySize) {
            for (i = 0; i < TriviaData.length; ++i)
                TriviaData[i] = new Array(arraySize);
        }
 
        // This function checks the answer, updates correct total
        // and randomly selects the next question
        function checkAnswer() {
            if (document.getElementById("RadioTrue").checked) {
                processAnswer("true");
            }
            else {
                processAnswer("false");
            }
            // get next question if not asked all yet
            if (questionsAsked < 10) {
                setQuestion();
            }
            // final question asked - disable button and show final results
            else {
                alert("Quiz complete! You got " + totalCorrect + " correct out of 10.");
                document.getElementById("ButtonContinue").disabled = true;
            }
            // update totals
            document.getElementById("NumberAsked").innerHTML = questionsAsked;
            document.getElementById("NumberCorrect").innerHTML = totalCorrect;
        }
 
    </script>
</body>


