<h3 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.5); color: white; padding: 20px; width: 60%;">Day 1 - <span style="color: #ee7436;">13th October</span></h3>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
        </ul>
    </div>
<h3 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.5); color: white; padding: 20px; width: 60%;">Day 2 - <span style="color: #ee7436;">14th October</span></h3>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
        </ul>
    </div>
<h3 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.5); color: white; padding: 20px; width: 60%;">Day 3 - <span style="color: #ee7436;">15th October</span></h3>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="/uploads/events-icon.png" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Location:</p>
                </div>
            </li>
        </ul>
    </div>
<hr>
<div class="container" style="padding-top: 60px;">
    <h5 style="background-color: black; color: white; padding: 10px; text-align: center;">Download schedule</h5>
</div>

<section class="demo-2">
    <div class="grid">
        <div class="box">
                <h5 style="box-shadow: 2px 5px 5px 1px black;margin-top: -52px; background-color: rgba(0,0,0,0.8);color: white; padding: 10px;">13th October</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                    <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                    <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                    <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                    <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                </svg>
                <img style="width: 300px; height:460px; margin-top: -6px;" src="/uploads/oct21-infox.png">
        </div>
        <div class="box">
                <h5 style="box-shadow: 2px 5px 5px 1px black;margin-top: -52px; background-color: rgba(0,0,0,0.8);color: white; padding: 10px;">14th October</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                    <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                    <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                    <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                    <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                </svg>
                <img style="width: 300px; height:460px; margin-top: -6px;" src="/uploads/oct21-infox.png">
        </div>
        <div class="box">
                <h5 style="box-shadow: 2px 5px 5px 1px black;margin-top: -52px; background-color: rgba(0,0,0,0.8);color: white; padding: 10px;">15th October</h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
                    <line class="top" x1="0" y1="0" x2="900" y2="0"/>
                    <line class="left" x1="0" y1="460" x2="0" y2="-920"/>
                    <line class="bottom" x1="300" y1="460" x2="-600" y2="460"/>
                    <line class="right" x1="300" y1="0" x2="300" y2="1380"/>
                </svg>
                <img style="width: 300px; height:460px; margin-top: -6px;" src="/uploads/oct21-infox.png">
        </div>
    </div><!-- /grid -->
</section>  