<style type="text/css">
	body{
		background-color: #263238; 
	}
	h1,p{
		color: black;
		font-family: 'Ubuntu', sans-serif;
		font-weight: 700;
	}
</style>
<body>
<div class="container">
	<h1>Schedule</h1>
	<p>Yet to be decided!</p>
</div>
</body>