<%= render 'schedulecss'%>
<%= render 'backgroundimage'%>
<h4 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.8); color: white; padding: 20px; width: 60%;">Day 1 : <span style="color: #ee7436;">13th October</span></h4>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
        </ul>
    </div>
<h4 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.8); color: white; padding: 20px; width: 60%;">Day 2 : <span style="color: #ee7436;">14th October</span></h4>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
        </ul>
    </div>
<h4 style="box-shadow: 2px 5px 5px black; background-color: rgba(0,0,0,0.8); color: white; padding: 20px; width: 60%;">Day 3 : <span style="color: #ee7436;">15th October</span></h4>
    <div class="container">
        <ul class="event-list">
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
            <li>
                <time datetime>
                    <span class="month">2400 hours</span>
                </time>
                <img alt="Independence Day" src="http://www.news.gatech.edu/sites/default/files/pictures/feature_thumbnails/layers-360.gif" />
                <div class="info">
                    <h2 class="title">Event Name</h2>
                    <p class="desc">Duration:</p>
                    <p style="padding-left: 10px;">Venue:</p>
                </div>
            </li>
        </ul>
    </div>
<hr>
<div class="container" style="padding-top: 60px;">
    <h5 style="background-color: black; color: white; padding: 10px; text-align: center;">Download schedule</h5>
</div>
<div class="container">
    <div class="row">
        <div class="col s12 m4"style="cursor:pointer">
            <div id="titled1"style="width:100%;background:rgba(0,0,0,0.8);color:white;padding-top:7px;padding-bottom:7px;margin:0px">
                <h5><center>13th October</center></h5>
            </div>
            <div id="content1"style="width:100%;overflow:hidden;opacity:0.7"onclick="appear(1)">
                <img src="/uploads/oct21-infox.png"style="height:40vh;width:auto"/>
            </div>
            <div id="download1"style="width:100%;height:40vh;padding-top:50%;color:black;background:rgba(255,255,0,0.7)">
                <center><i class="material-icons"style="font-size:24px">file_download</i></center>
            </div>
        </div>
        <div class="col s12 m4"style="cursor:pointer"id="content">
            <div class="titled2"style="width:100%;background:rgba(0,0,0,0.8);color:white;padding-top:7px;padding-bottom:7px;margin:0px">
                <h5><center>14th October</center></h5>
            </div>
            <div id="content2"style="width:100%;overflow:hidden;opacity:0.7"onclick="appear(2)">
                <img src="/uploads/oct21-infox.png"style="height:40vh;width:auto"/>
            </div>
            <div id="download2"style="width:100%;height:40vh;padding-top:50%;color:black;background:rgba(255,255,0,0.7)">
                <center><i class="material-icons"style="font-size:24px">file_download</i></center>
            </div>
        </div>
        <div class="col s12 m4"style="cursor:pointer">
            <div id="titled3"style="width:100%;background:rgba(0,0,0,0.8);color:white;padding-top:7px;padding-bottom:7px;margin:0px">
                <h5><center>15th October</center></h5>
            </div>
            <div id="content3"style="width:100%;overflow:hidden;opacity:0.7"onclick="appear(3)">
                <img src="/uploads/oct21-infox.png"style="height:40vh;width:auto"/>
            </div>
            <div id="download3"style="width:100%;height:40vh;padding-top:50%;color:black;background:rgba(255,255,0,0.7)">
                <center><i class="material-icons"style="font-size:24px">file_download</i></center>
            </div>
        </div>

</div>
<script>
function appear(id)
{
    document.getElementById('content'+id).style.display="none";
    document.getElementById('download'+id).style.display="block";
    $('#content'+id).delay(1000).fadeIn();
    $('#download'+id).delay(1000).slideUp();
}
</script>
