<%= render 'backgroundimage'%>
<div id="sponsors" class="container" style="background-color: white; padding-top: 20px; box-shadow: 2px 2px 2px 2px black; width: 85%;">
    <h2 style="text-shadow: 2px 2px 2px #f1f1f1; font-weight: 700; text-align: center; border:0 none; color: #db5726;"><span style="color: black;">OUR</span> SPONSORS</h2>
<br>
    <div class="row">
        <h4>Title Sponsor</h4>
        <br><br>
        <div class="col m12 s12 center si1">
            <img style="width: 100%;" src="uploads/sponsors/cnlogo.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Event Sponsors</h4><br><br>
        <div class="col m6 s12 center si2">
            <img src="/uploads/sponsors/codechef.png">
        </div>
        <div class="col m6 s12 center si2">
            <img src="/uploads/sponsors/hackerearth.png">

        <br><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12 center si2">
            <img src="/uploads/sponsors/mithilatech.png">
        </div>
        <div class="col m6 s12 center si2">
            <img src="/uploads/sponsors/geeksforgeeks.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Gaming Sponsors</h4><br><br>
        <div class="col m4 s12 center si4">
            <img src="/uploads/sponsors/amd.png">
        </div>
        <div class="col m4 s12 center si4">
            <img src="/uploads/sponsors/g2a.png">
        </div>
        <div class="col m4 s12 center si4">
            <img src="/uploads/sponsors/gamingcentral.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Technical Partners</h4><br><br>
        <div class="col m4 s12 center si5">
            <img src="/uploads/sponsors/spokentutorial.png">
        </div>
        <div class="col m4 s12 center si5">
            <img src="/uploads/sponsors/mozilla.png">
        </div>
        <div class="col m4 s12 center si5">
            <img src="/uploads/sponsors/pydata.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Media Partners</h4><br><br>
        <div class="col m12 s12 center si6">
            <img src="/uploads/sponsors/newshq.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Social Impact partners</h4><br><br>
        <div class="col m6 s12 center si7">
            <img src="/uploads/sponsors/mash.png">
        </div>
        <div class="col m6 s12 center si7">
            <img src="/uploads/sponsors/vikalp.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Startup Partners</h4><br><br>
        <div class="col m4 s12 center si5">
            <img src="/uploads/sponsors/xampaperz.png">
        </div>
        <div class="col m4 s12 center si5">
            <img src="/uploads/sponsors/junksquare.png">
        <br><br><br><br>
        </div>
        <div class="col m4 s12 center si5">
            <img src="https://avatars2.githubusercontent.com/u/19647763?v=4&s=460.png">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Insurance and Banking Partners</h4><br><br>
        <div class="col m6 s12 center si9">
            <img src="/uploads/sponsors/LIC.png">
        </div>
        <div class="col m6 s12 center si9">
            <img src="/uploads/sponsors/indianbank.jpg">
        <br><br><br><br>
        </div>
    </div>
    <div class="row">
        <h4>Education Partners</h4><br><br>
        <div class="col m6 s12 center si10">
            <img src="/uploads/sponsors/IMS.png">
        </div>
        <div class="col m6 s12 center si10">
            <img src="/uploads/sponsors/codestreet.png">
        <br><br><br><br>
        </div>
    </div>
</div>

<style>
    .row > h4{
        background-color: black;
        color: #ee7436;
        margin: 50px;
        text-align: center;
        text-decoration: none;
    }
    .center{
        text-align: center;
    }
    .si1 img{
        width: 100px;
    }
    .si2 img{
        width: 200px;
    }
    .si4 img{
        width: 200px;
    }
    .si5 img{
        width: 200px;
    }
    .si7 img{
        width: 200px;
    }
    .si8 img{
        width: 200px;
    }
    .si9 img{
        width: 200px;
    }
    .si10    img{
        width: 200px;
    }
</style>
