<style type="text/css">
	body{
		background-color: #263238;
	}
	.jumbotron{
		font-family: 'Ubuntu', sans-serif;
		background-color: orange;
		text-shadow: 2px 2px 4px white;
		font-weight: 700;
		color: black;
		font-size: 100px;
		border: 5px solid #222222;
	}
	#name{
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		font-weight: 700;
		border: 2px solid #cccccc;
		padding: 10px;
		background-color: #f4c413;
		margin-bottom: -10px;
	}
	.col-lg-3{
		margin-top: 20px;
	}
	#desig{
		font-family: 'Ubuntu', sans-serif;
		font-size: 20px;
		font-weight: 700;
		border: 2px solid #cccccc;
		border-top: none;
		padding: 10px;
		margin-top: -20px;
		background-color: orange;
	}
</style>

	<div class="container">
	<div class="jumbotron">
		<h1><strong>Our Team Members!</strong></h1>
	</div>
		<div class="row">
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					Prabhanshu Gupta
				</p>
				<div class="thumbnail" data-toggle="modal" data-target="#myModal1">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about Prabhanshu Gupta
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					Jeevan pant
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal2">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about jeevan pant
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					Manish
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal3">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about Manish
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					Naveen
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal4">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about Naveen
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					Shubham Gupta
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal5">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about Shubham Gupta
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
				name
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal6">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about member
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					name
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal7">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about member
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<div class="col-lg-3 col-sm-6">
				<p id="name">
					name
				</p>
				<div class="thumbnail" data-toggle="modal" data-target = "#myModal8">
					<img src="http://st1.bollywoodlife.com/wp-content/uploads/2014/09/male-default-pic-big.jpg">
				</div>
				<p id="desig">Designation</p>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h4 class="modal-title" id="myModalLabel">Developer Information</h4>
			      </div>
			      <div class="modal-body">
			        Info about member
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>
	</div>
