<%= render 'backgroundimage'%>
<div class="container"style="margin-top:8vh;padding:0px;margin-bottom:15vh">
    <div class="row"style="background:rgba(0,0,0,0.8);color:white;">
        <center><h5>Meet the Team</h5></center>
    </div>
    <div class="row">
        <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px;">
            <center>
                <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-0/p526x296/15977798_1153483084749385_2066606846504089497_n.jpg?oh=c7bb99cd78dcf5535f20d91d2ba90286&oe=59EB0B16"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
            </center>
            <div>
                <center>
                    <h5>Jeevan</h5>
                    <br>
                    <h6>Convener</h6>
                    <br><br>
                    <a href="https://www.facebook.com/lifez.prakash"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/jeevanprakashpant/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                    <a href=""style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                    <br><br><br><br><br><br>
                </center>
            </div>
        </div>
        <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px;border-left:0.5px solid black;border-right:0.5px solid black">
            <center>
                <img src="https://media.licdn.com/media/AAEAAQAAAAAAAAprAAAAJDFmOGU4ZjkzLWQzNWUtNGZlYi1hMmRlLWQ0ZjZmMWQ2NDdmNQ.jpg"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
            </center>
            <div>
                <center>
                    <h5>Prabhanshu</h5>
                    <br>
                    <h6>Project Head</h6>
                    <br><br>
                    <a href="https://www.facebook.com/pforprabhanshu"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/prabhanshu-gupta-b8a226116/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                    <a href="https://github.com/prabhanshuguptagit"style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                    <br><br><br><br><br><br>
                </center>
            </div>
        </div>
        <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px">
            <center>
                <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/18670755_2272402159652090_8299400683245829813_n.jpg?oh=9179d79675ce5262298c24bdd67776ce&oe=5A16BCFB"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
            </center>
            <div>
                <center>
                    <h5>Naveen</h5>
                    <br>
                    <h6>Back End Developer</h6>
                    <br><br>
                    <a href="https://www.facebook.com/ny826"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/naveen-yadav-309618118/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                    <a href="https://github.com/ny826"style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                    <br><br><br><br><br><br>
                </center>
            </div>
        </div>

    <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px;">
        <center>
            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-1/p160x160/17757595_1326677170747154_8324029685215165668_n.jpg?oh=57110445b78239545dddd1f086fd0341&oe=5A21B254"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
        </center>
        <div style="width:100%">
            <center>
                <h5>Manish</h5>
                <br>
                <h6>Creative Supervisor</h6>
                <br><br>
                <a href="https://www.facebook.com/myoo7"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/manish-yadav-28aa95131/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                <a href="https://github.com/manishyadavv"style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                <br><br><br><br><br><br>
            </center>
        </div>
    </div>
    <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px;border-left:0.5px solid black;border-right:0.5px solid black">
        <center>
            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/18194609_653853381491645_492885205719947194_n.jpg?oh=a89fe457cf67a11326ca4d7fa72e9923&oe=5A1E7E9C"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
        </center>
        <div style="width:100%">
            <center>
                <h5>Shubham</h5>
                <br>
                <h6>Front End Developer</h6>
                <br><br>
                <a href="https://www.facebook.com/shubhamg931?ref=br_rs"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/shubham-gupta-861a58128/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                <a href="https://github.com/shubhamg931"style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                <br><br><br><br><br><br>
            </center>
        </div>
    </div>
    <div class="col s12 m4"style="background:rgba(255,255,255,0.9);padding:0px;margin-bottom:10px">
        <center>
            <img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t1.0-9/14993339_608040299382512_4817378278227962255_n.jpg?oh=6c2697da5c19f1b42b83019f03ab4b69&oe=5A2AFFCC"width="150px"height="150px"style="border-radius:50%;margin-top:20px;margin-bottom:30px">
        </center>
        <div style="width:100%">
            <center>
                <h5>Rohan</h5>
                <br>
                <h6>Front End Developer</h6>
                <br><br>
                <a href="https://www.facebook.com/profile.php?id=100005296428946"style="color:black"><i class="fa fa-facebook-square fa-3x"></i></a>
                <a href="https://www.linkedin.com/in/rohan-goyal-10ab60126/"style="color:black"><i class="fa fa-linkedin-square fa-3x"style="margin-left:10px;margin-right:10px"></i></a>
                <a href="https://github.com/RohanGoyal2014/"style="color:black"><i class="fa fa-github-square fa-3x"></i></a>
                <br><br><br><br><br><br>
            </center>
        </div>
    </div>
    </div>
</div>
<style>
    body
    {
        background: url(https://s-media-cache-ak0.pinimg.com/736x/63/bc/cb/63bccb6228be26e3c02bf5614e97bfb4.jpg);
    }
</style>
