<% content_for :pgstyles do %>
  <%= stylesheet_link_tag "about" %>
  <style media="screen">
  .carousel .carousel-item{
  width: 30em!important;
  height: 20em !important;}
  </style>
<% end %>

<% content_for :pgcontent do %>

  <div class="container">
   <div class="row about-header card">
      <h3><span style="color: #db5726; font-weight: 700;">About</span> Us</h3>
    </div>
    <br>
    <div class="row hide-on-small-only about-events-detail" id="content" style="margin-bottom: 20px;">

      <div class="col s4 m4 l4 xl4">
        <div class="about-events-detail-days">
          <h1 id="count1">3</h1>
          <p>Days</p>
        </div>
      </div>
      <div class="col s4 m4 l4 xl4">
        <div class="about-events-detail-events">
          <h1 id="count2">18</h1>
          <p>Events</p>
        </div>
      </div>
      <div class="col s4 m4 l4 xl4">
        <div class="about-events-detail-brains">
          <h1 id="count3">2000</h1>
          <p>Brains</p>
        </div>
      </div>
    </div>
   
     <div class="pics" style="margin-bottom: 30px; width: 100%;">
      <div class="carousel" style="width: 100%">
        <a class="carousel-item" href="#one!"><img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/14976903_1815667722009477_6846051588141406822_o.jpg?oh=4d23ffbf233e3afefb4b500a7df3a50a&oe=5A5F7412"></a>
        <a class="carousel-item" href="#two!"><img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/14890413_1815670925342490_666996616694579650_o.jpg?oh=ccbafa8752e83c9f5675f660fff523b2&oe=5A50309C"></a>
        <a class="carousel-item" href="#three!"><img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/14889920_1815667838676132_9104366920173453033_o.jpg?oh=501341b770b04807d63cf273be9bb0e3&oe=5A1CC057"></a>
        <a class="carousel-item" href="#four!"><img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/14712627_1809209645988618_793745390902400210_o.jpg?oh=1b983dbeb3bd9d01be1e0719bd0899f0&oe=5A4A443A"></a>
        <a class="carousel-item" href="#five!"><img src="https://scontent.fdel1-1.fna.fbcdn.net/v/t31.0-8/14708025_1808209212755328_1836568496777607607_o.jpg?oh=fe734c45a68e4c2f0d1def88524c8188&oe=5A172F69"></a>
      </div>
    </div> 
    <div class="row about-content" style="text-align: center;" >
    <a href="http://ipu.ac.in" target="_blank"><img src="/images/ipu-logo.png" class="ipu-logo" height="130px"></a>
      <p style="font-size:16px">
          <span style="color: #db5726; font-weight: 700">InfoXpression</span> is the annual technical fest of Guru Gobind Singh Indraprastha University organized by University School of Information and Communication Technology. It is the biggest technical extravaganza held at Guru Gobind Singh Indraprastha University, and involves an active participation of students from over 250 colleges of north India. An exhilarating voyage of technical know-how, InfoXpression focuses on the promotion of technology and innovation. It gives you a chance to stop, culminate new ideas and showcase your technical expertise. The fest is a three day grandeur which is result of a month long affair of prelims and stage levels. It involves a series of competitions, workshops and guest lectures by some eminent personalities. InfoXpression is an amalgamation of creativity and imagination. It will be a perfect blend of entertainment and technology with the aim of transformation and empowerment of the society.
      </p>
    </div>
   
</div>

<% end %>

<% content_for :pgscripts do %>



<script type="text/javascript">
  $(document).ready(function(){
      doAnimation();
      $('.carousel').carousel({
      });
      autoplay()   
      function autoplay() {
          $('.carousel').carousel('next');
          setTimeout(autoplay, 3000);
      }
    });
  function doAnimation() { $('#count1').each(function () { $(this).prop('Counter',0).animate({ Counter: $(this).text() }, { duration: 10000, easing: 'swing', step: function (now) { $(this).text(Math.ceil(now)); } }); }); $('#count2').each(function () { $(this).prop('Counter',0).animate({ Counter: $(this).text() }, { duration: 7000, easing: 'swing', step: function (now) { $(this).text(Math.ceil(now)); } }); }); $('#count3').each(function () { $(this).prop('Counter',0).animate({ Counter: $(this).text() }, { duration: 5000, easing: 'swing', step: function (now) { $(this).text(Math.ceil(now)); } }); }); }
</script>
<% end %>
