<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
    <div style="min-height:550px;margin-top: 20px">
    <div class="row hide-on-med-and-up">
    <div class="col s12">
    <a href="/events"><button class="registerevtbtn">list of events</button></a>
    </div>
    </div>
    <div class="campus-div"><img src="images/campus.png" class="campus-image"></div>
<% end %>

<% content_for :pgscripts do %>
<script type="text/javascript">
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   // setInterval(function() { $('.carousel').carousel('next'); }, 5000)
</script>
	<%= javascript_include_tag 'packaged' %>
<% end %>
