<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
    <div style="min-height:550px;margin-top: 20px">
    <div class="row hide-on-med-and-up">
    <div class="col s12">
    <a href="/events"><button class="registerevtbtn">list of events</button></a>
    </div>
    </div>
        <div class="row">
        <div class="col s12 m8 center">
        <iframe src="/uploads/carousel/slide.html" class="carousel-iframe"></iframe>
        </div>
        <div class="col s12 m4">
         <!-- Add counter here -->

       <div class="row">
        <div class="col s12">
        <div class="carousel carousel-slider" data-indicators="true">
            <div class="carousel-fixed-item center">
          <a class="btn waves-effect white grey-text darken-text-2">button</a>
        </div>
        <div class="carousel-item">
          <div class="card large" id="card-hackathon">
                <div class="card-image" >
                  <img src="images/uhack.jpg">
                  <span class="card-title" style="text-align: center;width: 100%;font-family: 'Julius Sans One', sans-serif; font-size:30px">UHack Hackathon</span>
                </div>
                <div class="card-content">
                  <p>InfoXpression shouts out to all the designers and developers out there, who can't wait to bring their next idea to life. We at InfoX welcome you to the overnight hackathon to work over 24 sleepless hours with one great idea and a team of tireless creative minds.</p>
                </div>
                <div class="card-action">
                  <a href="https://www.facebook.com/events/1625273884158569/"><i class="fa fa-facebook"></i></a>
                  <a href="/events/" id="register-float-card">Register</a>
                </div>
              </div>
        </div>
        <div class="carousel-item">
          <div class="card large" id="card-hackathon">
                <div class="card-image" >
                  <img src="images/uhack.jpg">
                  <span class="card-title" style="text-align: center;width: 100%;font-family: 'Julius Sans One', sans-serif; font-size:30px">UHack Hackathon</span>
                </div>
                <div class="card-content">
                  <p>InfoXpression shouts out to all the designers and developers out there, who can't wait to bring their next idea to life. We at InfoX welcome you to the overnight hackathon to work over 24 sleepless hours with one great idea and a team of tireless creative minds.</p>
                </div>
                <div class="card-action">
                  <a href="https://www.facebook.com/events/1625273884158569/">FB page</a>
                  <a href="/events/" id="register-float-card">Register</a>
                </div>
              </div>
        </div>
              
        </div>
      </div>
        </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="container">
             <iframe scrolling="no" src="/uploads/counter.html" class="counter-iframe"></iframe>
             </div>
        </div>
    </div>

<% end %>

<% content_for :pgscripts do %>
<script type="text/javascript">
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   // setInterval(function() { $('.carousel').carousel('next'); }, 5000)
</script>
	<%= javascript_include_tag 'packaged' %>
<% end %>
