<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
    <div style="min-height:550px;position: relative;">
    <div class="row hide-on-med-and-up" >
    <div class="col s12">
    <a href="/events"><button class="registerevtbtn">list of events</button></a>
    </div>
    </div>
    <div class="event-snapshot">
      <svg height="500" width="100%" style="position:absolute">
        <!-- <path id="lineAB" d="M 440 113 l 50 -45 l 100 0  a20,20 0 0 1 20,20  l 0 100 a20,20 0 0 1 -20,20 l -5 0 a20,20 0 0 1 -20,-20 l 0 -5 a20,20 0 0 1 20,-20 l 100 0" stroke="#FD915E" stroke-width="4" fill="none"/> -->
        <g transform="translate(465,80)">
        <g transform="matrix(1,0,0,1,0,0)" name="Layer" jvs-layer-color="#fb0094" class="jvs-layer selected"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="2.9999998868032796" stroke-dasharray="" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M -120 299.9999694824219 L -199.99996948242188 299.9999694824219" transform="matrix(1 0 0 1 445.659 -164.369)" stroke-dashoffset="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="2.9999998868032796" stroke-dasharray="" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M -199.99996948242188 299.9999694824219 L -199.99996948242188 380" transform="matrix(1 0 0 1 445.659 -164.369)" stroke-dashoffset="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 120.00010681152344 79.74888610839844 L 180 80" transform="matrix(-1 -1.22465e-16 1.22465e-16 -1 238.617 247.952)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00000003133828" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 180.00001525878906 79.99998474121094 L 180 39.99998474121094" transform="matrix(-1 -1.22465e-16 1.22465e-16 -1 238.659 247.952)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 265.617 216.203)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="0.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 172.9578857421875 131.91537475585938 L 231.95787048339844 131.9153594970703" transform="matrix(1 0 0 1 -113.341 110.037)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 172.9578857421875 131.91537475585938 L 231.95787048339844 131.9153594970703" transform="matrix(1 0 0 1 -113.341 76.0366)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 235.297 189.594)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 230 130 L 250 130" transform="matrix(1 0 0 1 -113.341 78.0366)" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 359.962890625 61.45892333984375 L 359.962890625 208.95211791992188" transform="matrix(1 0 0 1 -34.3409 75.0366)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 118.61666870117188 202.2026824951172 L 118.61666870117188 349.6800537109375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 135.67681884765625 241.978271484375 L 215.2967987060547 242.18727111816406" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 245.61679077148438 250.20257568359375 L 216.0879669189453 250.20257568359375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 216.0879669189453 250.20257568359375 L 215.2967987060547 242.187255859375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 138.638 315.449)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 39 349 L 39 321" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 39 269)" width="18" height="18" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 38.99999237060547 349 L 118.63780212402344 349.4491271972656" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 2 39 L 82 39" transform="matrix(1 0 0 1 0 20)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 80.00000762939453 250.00001525878906 L 170 250" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 170 250.00001525878906 L 170 180" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 170 180 L 260 180" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 259.9999694824219 180 L 260 100" stroke-opacity="1"/><rect transform="matrix(1,0,0,1,60,250.00001525878906)" width="20.00000762939453" height="19.999984741210938" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 150.638 160.16)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 260 180)" width="32.0001" height="23" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="2.7129335341153378" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 170.638 250.16)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 38.99998474121094 287 L 23 287" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 22.99999237060547 287 L 23 239" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" class="blue-path" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" selected="true" d="M 22.99999237060547 239 L -3 239" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 82 59 L 80.0000228881836 250" stroke-opacity="1"/>
        </g>
      <g transform="">
      <image id="campus" xlink:href="images/campus.png" x="30%" height="500px"/>
      </g>
      <g transform="">
      <a href="#stripped1" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/hackathon logo.png" height="80px"/>
      </g>
      </svg>
    </div>
    <!--<div class="campus-div" style="position:relative;"></div>-->    
    <div class="stripped" id="stripped1">
      <h2 class="stripped-title">Ultrahack</h2>
      <hr>
      <br>
      <p class="white-text stripped-text">Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234</p>
      <h4 class="white-text">Rules</h4>
      <hr>
      <p class="white-text stripped-text">Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234</p>
      <button class="closestripped linkstripped" href="#stripped1"><span style="font-size: 20px;">X</span></button>
      <a href="#" class="stripped-button">fb page</a>
      <a href="#" class="stripped-button">register</a>
    </div>
    
<% end %>

<% content_for :pgscripts do %>
<script type="text/javascript">
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   // setInterval(function() { $('.carousel').carousel('next'); }, 5000)
</script>
	<%= javascript_include_tag 'packaged' %>
<script type="text/javascript">
// !(function ($doc, $win) {
//   var screenWidth = $win.screen.width / 2,
//     screenHeight = $win.screen.height / 2,
//     $elems = $doc.getElementById("campus"),
//     validPropertyPrefix = '',
//     otherProperty = 'perspective(1000px)',
//     elemStyle = $elems[0].style;

//   if(typeof elemStyle.webkitTransform == 'string') {
//     validPropertyPrefix = 'webkitTransform';
//   } else if (typeof elemStyle.MozTransform == 'string') {
//     validPropertyPrefix = 'MozTransform';
//   }

//   $doc.addEventListener('mousemove', function (e) {
//     var centroX = e.clientX - screenWidth,
//       centroY = screenHeight - (e.clientY + 13),
//       degX = 0,
//       degY = centroY * 0.005,
//       $elem

//     for (var i = 0; i < $elems.length; i++) {
//         $elem = $elems[i];
//       $elem.style[validPropertyPrefix] = otherProperty + 'rotateY('+ degX +'deg)  rotateX('+ degY +'deg)';
//     };
//   });
// })(document, window);


$('.linkstripped').click(function() {
  event.preventDefault();
  $($(this).attr('href') ).slideToggle(); 
}); 

  </script>
<% end %>
