<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
	<div id="social_links">
        <ul>
            <li>
                <a target="_blank" href="https://fb.com/infoxpression">
                    <img src="/uploads/fblogo.png" style="width: 50px;">
                </a>
            </li>
        </ul>
    </div>
    <div style="min-height:550px">
    <br>
        <div class="row">
        <div class="col s12 m8">
        <iframe src="/uploads/carousel/slide.html" class="carousel-iframe"></iframe>
        </div>
        <div class="col s12 m4">    
         <!-- Add counter here -->
        <iframe scrolling="no" src="/uploads/counter.html" class="counter-iframe"></iframe>
        </div>
        </div>
    </div>

<% end %>

<% content_for :pgscripts do %>
	<%= javascript_include_tag 'packaged' %>
<% end %>