<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
	<div id="social_links">
        <ul>
            <li>
                <a target="_blank" href="https://fb.com/infoxpression">
                    <img src="/uploads/fblogo.png" style="width: 50px;">
                </a>
            </li>
        </ul>
    </div>
    <div style="min-height:550px">
        <iframe src="/uploads/carousel/slide.html" style="width:100%;height:75vh"></iframe>
    </div>

<% end %>

<% content_for :pgscripts do %>
	<%= javascript_include_tag 'packaged' %>
<% end %>
