<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
    <div style="min-height:550px;margin-top: 20px">
    <div class="row hide-on-med-and-up"> 
    <div class="col s12">   
    <button class="registerevtbtn">list of events</button>
    </div>
    </div>
        <div class="row">
        <div class="col s12 m8 center">
        <iframe src="/uploads/carousel/slide.html" class="carousel-iframe"></iframe>
        </div>
        <div class="col s12 m4">    
         <!-- Add counter here -->
       
       <div class="row">
        <div class="col s12">
          <div class="card large">
            <div class="card-image">
              <img src="images/uhack.jpg">
              <span class="card-title">Card Title</span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
        </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="container">
             <iframe scrolling="no" src="/uploads/counter.html" class="counter-iframe"></iframe>
             </div>
        </div>
    </div>

<% end %>

<% content_for :pgscripts do %>
	<%= javascript_include_tag 'packaged' %>
<% end %>