<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "home" %>
<% end %>

<% content_for :pgcontent do %>
    <div style="min-height:550px;position: relative;">
    <div class="event-snapshot hide-on-small-only">
    <br>
    <br>
      <svg height="500" width="100%" style="position:absolute" viewBox="0 0 1920 1080">
        <!-- <path id="lineAB" d="M 440 113 l 50 -45 l 100 0  a20,20 0 0 1 20,20  l 0 100 a20,20 0 0 1 -20,20 l -5 0 a20,20 0 0 1 -20,-20 l 0 -5 a20,20 0 0 1 20,-20 l 100 0" stroke="#FD915E" stroke-width="4" fill="none"/> -->
        <g transform="translate(1320,140),scale(2)" preserveAspectRatio="">
        <g transform="matrix(1,0,0,1,0,0)" name="Layer" jvs-layer-color="#fb0094" class="jvs-layer selected"/><g transform="matrix(1,0,0,1,0,0)" name="Layer" jvs-layer-color="#fb0094" class="jvs-layer selected"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="2.9999998868032796" stroke-dasharray="" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M -199.99996948242188 299.9999694824219 L -199.99996948242188 380" transform="matrix(1 0 0 1 445.659 -164.369)" stroke-dashoffset="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 120.00010681152344 79.74888610839844 L 180 80" transform="matrix(-1 -1.22465e-16 1.22465e-16 -1 238.617 247.952)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00000003133828" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 180.00001525878906 79.99998474121094 L 180 39.99998474121094" transform="matrix(-1 -1.22465e-16 1.22465e-16 -1 238.659 247.952)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 265.617 216.203)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="0.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 172.9578857421875 131.91537475585938 L 231.95787048339844 131.9153594970703" transform="matrix(1 0 0 1 -113.341 110.037)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 172.9578857421875 131.91537475585938 L 231.95787048339844 131.9153594970703" transform="matrix(1 0 0 1 -113.341 76.0366)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 235.297 189.594)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 230 130 L 250 130" transform="matrix(1 0 0 1 -113.341 78.0366)" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 118.61666870117188 202.2026824951172 L 118.61666870117188 349.6800537109375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 135.67681884765625 241.978271484375 L 215.2967987060547 242.18727111816406" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 245.61679077148438 250.20257568359375 L 216.0879669189453 250.20257568359375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 216.0879669189453 250.20257568359375 L 215.2967987060547 242.187255859375" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><rect transform="matrix(-1 0 0 1 138.638 315.449)" width="20" height="18.5937" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="2.9999994156937326" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" rx="0" y="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 39 349 L 39 321" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 39 269)" width="18" height="18" fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 38.99999237060547 349 L 118.63780212402344 349.4491271972656" transform="matrix(1 0 0 1 0 -34)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 2 39 L 82 39" transform="matrix(1 0 0 1 0 20)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 80.00000762939453 250.00001525878906 L 170 250" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 170 250.00001525878906 L 170 180" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 170 180 L 260 180" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 259.9999694824219 180 L 260 100" stroke-opacity="1"/><rect transform="matrix(1,0,0,1,60,250.00001525878906)" width="20.00000762939453" height="19.999984741210938" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 150.638 160.16)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 260 180)" width="32.0001" height="23" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="2.7129335341153378" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 170.638 250.16)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(255,164,27)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 38.99998474121094 287 L 23 287" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" d="M 22.99999237060547 287 L 23 239" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(50,153,235)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="round" opacity="1" selected="true" d="M 22.99999237060547 239 L -3 239" fill-opacity="0" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(255,164,27)" stroke-width="3" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 82 59 L 80.0000228881836 250" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 245.65904235839844 135.63096618652344 L 279.8144836425781 135.80007934570312" transform="matrix(1 0 0 1 0 0)" stroke-opacity="1"/><path fill=" rgb(255, 164, 27)" stroke="rgb(50,153,235)" stroke-width="3" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 279.8144836425781 135.80007934570312 L 280.8629150390625 276.28973388671875" transform="matrix(1 0 0 1 0 0)" stroke-opacity="1"/></g>
      <g transform="translate(100,110),scale(2)" preserveAspectRatio=""><path fill="none" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 13.513199806213379 0.5525751709938049 L 13.513199806213379 58.36853790283203" transform="matrix(1 0 0 1 -9 0)" stroke-opacity="1"/><path fill="none" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 13.513199806213379 58.36853790283203 L 58.71613311767578 58.36853790283203" transform="matrix(1 0 0 1 -9 0)" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 225.638 89.7911)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="-176.638" y="-50.7911" rx="0" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 58.00000762939453 124.26891326904297 L 144.72567749023438 124.26891326904297" transform="matrix(1 0 0 1 -9 -34)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 144.72567749023438 124.26891326904297 L 144.72567749023438 151.5410614013672" transform="matrix(1 0 0 1 -9 -34)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 144.72567749023438 151.5410614013672 L 95.29075622558594 151.5410614013672" transform="matrix(1 0 0 1 -9 -34)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 95.29075622558594 151.5410614013672 L 95.29075622558594 108.54088592529297" transform="matrix(1 0 0 1 -9 -34)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 95.29075622558594 108.54088592529297 L 182.82054138183594 108.54088592529297" transform="matrix(1 0 0 1 -9 -34)" selected="true" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 537.276 304.582)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="-364.276" y="-249.582" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 173.00001525878906 108.99999237060547 L 173.9230194091797 162.01083374023438" selected="true" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(0.999841 -0.0178543 0.0178543 0.999841 518.93 372.178)" width="20" height="20" fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="-360.516" y="-253.078" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 173.94920349121094 159.22039794921875 L 350.0592956542969 158.86553955078125" selected="true" transform="matrix(1 0 0 1 0 -34)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(0,141,134)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 49.0000114440918 59 L 49.159828186035156 89.66914367675781" fill-opacity="0" stroke-opacity="1"/></g>   
      
      <g transform="translate(0,390),scale(2)" preserveAspectRatio=""><g transform="matrix(1,0,0,1,0,0)" name="Layer" jvs-layer-color="#fb0094" class="jvs-layer selected"><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 148.94656372070312 362.14044189453125 L 149.8869171142578 397.8736572265625" transform="matrix(1 0 0 1 0.999999 -249)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 149.8869171142578 397.8736572265625 L 80.30119323730469 397.8736572265625" transform="matrix(1 0 0 1 0.999999 -249)" selected="true" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 150.887 148.874)" width="15.116" height="14.2114" fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 111.463 113.247)" width="15.0456" height="15.9859" fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="2.999999935886077" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="0" y="0" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 45.43790817260742 2.8215558528900146 L 45.43790817260742 52.98035430908203" transform="matrix(1 0 0 1 81 60)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 45.43790817260742 52.98035430908203 L 67.14849090576172 52.98035430908203" transform="matrix(1 0 0 1 81 60)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 197.8446502685547 61.22921371459961 L 172.3856964111328 61.22921371459961" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 172.3856964111328 61.22921371459961 L 172.3856964111328 35.77531814575195" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 172.3856964111328 35.77531814575195 L 87.823974609375 35.77531814575195" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 87.823974609375 35.77531814575195 L 87.823974609375 2.927663564682007" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 87.823974609375 2.927663564682007 L 134.8413543701172 2.927663564682007" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 134.8413543701172 2.927663564682007 L 134.8413543701172 48.06435012817383" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 134.8413543701172 48.06435012817383 L 45.508331298828125 48.06435012817383" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 45.508331298828125 48.06435012817383 L 45.508331298828125 63.13926696777344" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 45.508331298828125 63.13926696777344 L 119.43788146972656 63.821556091308594" transform="matrix(1 0 0 1 7 -1)" selected="true" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 37.9541 297.664)" width="15.0456" height="15.9859" fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.000000008774415" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="-0.00407583" y="-235.664" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/><rect transform="matrix(1 0 0 1 -14.0419 439.328)" width="15.0456" height="15.9859" fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.000000008774415" stroke-linecap="round" stroke-linejoin="miter" opacity="1" x="193.042" y="-420.668" rx="0" selected="true" fill-opacity="0" stroke-opacity="1"/></g><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 116.30117797851562 148.8736572265625 L 36.57866668701172 148.38124084472656" selected="true" transform="matrix(1 0 0 1 -35 0)" fill-opacity="0" stroke-opacity="1"/><path fill="rgb(255,164,27)" stroke="rgb(245,31,38)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 36.57866668701172 148.38124084472656 L 37.62709426879883 39.3444938659668" selected="true" transform="matrix(1 0 0 1 -35 0)" fill-opacity="0" stroke-opacity="1"/></g>     
      <g transform="translate(130,740),scale(2)"><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 241.80178833007812 119.44400787353516 L 199.2747802734375 119.44400787353516" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 199.2747802734375 119.44400787353516 L 199.2747802734375 160.26992797851562" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 199.2747802734375 160.26992797851562 L 158.4488525390625 160.26992797851562" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 158.4488525390625 160.26992797851562 L 158.4488525390625 201.94639587402344" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 158.4488525390625 201.94639587402344 L 179.7123565673828 201.94639587402344" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 179.7123565673828 201.94639587402344 L 179.7123565673828 184.08505249023438" transform="matrix(1 0 0 1 -100 -116)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="NaN" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M NaN NaN L NaN NaN" transform="matrix(NaN NaN NaN NaN 0 -21)" selected="true" stroke-opacity="1"/><path fill="none" stroke="rgb(104,73,186)" stroke-width="3.00" stroke-linecap="round" stroke-linejoin="miter" opacity="1" d="M 79.71234130859375 89.08505249023438 L -1.6127114295959473 88.8547592163086" selected="true" transform="matrix(1 0 0 1 0 -21)" stroke-opacity="1"/></g>
      <g transform="translate(400, 140)">
        <image id="campus" xlink:href="images/campus.png" />
      </g>
      <g transform="scale(1.25)">
      <a href="#stripped1" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/hackathon logo.png" class="logo-event-svg" id="anim1" height="150px"/>
      </g>
      <g transform="translate(1800,690),scale(2.5)">
      <a href="#stripped2" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/clan-logo.png" class="logo-event-svg" id="anim2" height="150px"/>
      </g>
      <g transform="translate(1600,180),scale(1.25)">
      <a href="#stripped3" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/codester-logo.png" class="logo-event-svg" id="anim3" height="150px"/>
      </g>
      <g transform="translate(-300,290),scale(0.8)">
      <a href="#stripped3" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/hh-logo.png" class="logo-event-svg" id="anim4" height="150px"/>
      </g>
      <g transform="translate(-300,690)">
      <a href="#stripped3" class="linkstripped">
          <!-- <animate attributeType="CSS" attributeName="opacity" from="1" to="0" dur="5s" repeatCount="indefinite" /> -->
           <image xlink:href="images/circuitrix-logo.png" class="logo-event-svg" id="anim1" height="150px"/>
      </g>
      </svg>
    </div>
    <!--<div class="campus-div" style="position:relative;"></div>-->    
    <div class="hide-on-med-and-up center">
    <br>
      <a href="#stripped1" class="linkstripped"><img src="images/hackathon logo.png" height="" width="80%" class="card-1"></a>
      <br>
      <br>
       <a href="/events" target="_blank">
      <img src="images/codester-logo.png" height="" width="80%" class="card-1">
      </a>
      <br>
      <br>
       <a href="#events" target="_blank">
      <img src="images/hh-logo.png" height="" width="80%" class="card-1">
      </a>
      <br>
      <br>
       <a href="#events" target="_blank">
      <img src="images/circuitrix-logo.png" height="" width="80%" class="card-1">
      </a>
      <br>
      <br>
       <a href="#events" target="_blank">
      <img src="images/clan-logo.png" height="" width="80%" class="card-1">
      </a>
      <br>
      <br>
      <br>
      <br>

    </div>
    <div class="stripped" id="stripped1">
      <h2 class="stripped-title">Ultrahack</h2>
      <hr>
      <br>
      <p class="white-text stripped-text">Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234</p>
      <h4 class="white-text">Rules</h4>
      <hr>
      <p class="white-text stripped-text">Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234 Hello world 1234</p>
      <button class="closestripped linkstripped" href="#stripped1"><span style="font-size: 20px;">X</span></button>
      <a href="#" class="stripped-button" target="_blank">register</a>
    </div>
    <div class="hide-on-small-only"><iframe src="uploads/counter.html" class="counter-iframe"></iframe></div>
    <div class="terminal"></div>
<% end %>

<% content_for :pgscripts do %>
<script type="text/javascript">
   $('.carousel.carousel-slider').carousel({fullWidth: true});
   // setInterval(function() { $('.carousel').carousel('next'); }, 5000)
</script>
	<%= javascript_include_tag 'packaged' %>
<script type="text/javascript">
// !(function ($doc, $win) {
//   var screenWidth = $win.screen.width / 2,
//     screenHeight = $win.screen.height / 2,
//     $elems = $doc.getElementById("campus"),
//     validPropertyPrefix = '',
//     otherProperty = 'perspective(1000px)',
//     elemStyle = $elems[0].style;

//   if(typeof elemStyle.webkitTransform == 'string') {
//     validPropertyPrefix = 'webkitTransform';
//   } else if (typeof elemStyle.MozTransform == 'string') {
//     validPropertyPrefix = 'MozTransform';
//   }

//   $doc.addEventListener('mousemove', function (e) {
//     var centroX = e.clientX - screenWidth,
//       centroY = screenHeight - (e.clientY + 13),
//       degX = 0,
//       degY = centroY * 0.005,
//       $elem

//     for (var i = 0; i < $elems.length; i++) {
//         $elem = $elems[i];
//       $elem.style[validPropertyPrefix] = otherProperty + 'rotateY('+ degX +'deg)  rotateX('+ degY +'deg)';
//     };
//   });
// })(document, window);


$('.linkstripped').click(function() {
  event.preventDefault();
  $($(this).attr('href') ).slideToggle(); 
}); 


$('#terminallink').click(function() {
  event.preventDefault();
  slideinterminal();
});

function slideinterminal() {
  if ($('.Terminal').is(':hidden'))
    {
      $('.Terminal').css("display", "block");
      if($( window ).width() < 700)
      $('.terminal').css("width", "100%"); 
      getName();
    }
  else
    { 
        $('.Terminal').css("display", "none");  
        if($( window ).width() < 700)
        $('.terminal').css("width", "0px");  
    }

}
  


  </script>
<% end %>
