<% content_for :pgstyles do %>
	<%= stylesheet_link_tag "style" %>
<% end %>

<% content_for :pgcontent do %>

    <div style="min-height:550px"></div>

<% end %>

<% content_for :pgscripts do %>
	<%= javascript_include_tag 'packaged' %>
<% end %>