<% content_for :pgstyles do %>

<% end %>

<% content_for :pgcontent do %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico|Roboto+Slab" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
    <div style="min-height:550px">
        <div id="sponsors" class="container" style="background-color: white; padding-top: 20px; box-shadow: 1px 1px 1px black; width: 85%;margin-top: 20px;">
            <h2 style="text-shadow: 1px 1px 1px black; font-weight: 700; text-align: center; border:0 none; color: black; font-size: 10vh;font-family: 'Acme', sans-serif;">OUR <span style="color:#db5726;">SPONSORS</span></h2>
            <div class="borderline1"></div>

        <br><br><br>
            <div class="row">

                <div class="gradient7">
                    <h4><span></span>Title Sponsor</h4>
                </div>
                <br><br>
                <div class="col m12 s12 center si1">
                    <img src="/uploads/sponsors/CNLOGO.svg">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Event Sponsors</h4>
                </div><br><br>
                <div class="col m6 s12 center si2">
                    <img src="/uploads/sponsors/codechef.png">
                </div>
                <div class="col m6 s12 center si2">
                    <img src="/uploads/sponsors/hackerearth.png">

                <br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="col m6 s12 center si2">
                    <img style="width: 200px;" src="/uploads/sponsors/mithilatech.png">
                </div>
                <div class="col m6 s12 center si2">
                    <img src="/uploads/sponsors/geeksforgeeks.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Gaming Sponsors</h4>
                </div><br><br>
                <div class="col m4 s12 center si4">
                    <img src="/uploads/sponsors/amd.png">
                </div>
                <div class="col m4 s12 center si4">
                    <img src="/uploads/sponsors/g2a.png">
                </div>
                <div class="col m4 s12 center si4">
                    <img src="/uploads/sponsors/gamingcentral.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Technical Partners</h4>
                </div><br><br><br>
                <div class="col m4 s12 center si5">
                    <img src="/uploads/sponsors/spokentutorial.png">
                </div>
                <div class="col m4 s12 center si5">
                    <img src="/uploads/sponsors/mozilla.png">
                </div>
                <div class="col m4 s12 center si5">
                    <img src="/uploads/sponsors/pydata.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Media Partners</h4>
                </div><br><br><br>
                <div class="col m12 s12 center si6">
                    <img src="/uploads/sponsors/newshq.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Social Impact partners</h4>
                </div><br><br><br>
                <div class="col m6 s12 center si7">
                    <img src="/uploads/sponsors/mash.png">
                </div>
                <div class="col m6 s12 center si7">
                    <img src="/uploads/sponsors/vikalp.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Startup Partners</h4>
                </div><br><br><br>
                <div class="col m4 s12 center si5">
                    <img src="/uploads/sponsors/xampaperz.png">
                </div>
                <div class="col m4 s12 center si5">
                    <img src="/uploads/sponsors/junksquare.png">
                <br><br><br><br>
                </div>
                <div class="col m4 s12 center si5">
                    <img style="width: 200px;" src="https://avatars2.githubusercontent.com/u/19647763?v=4&s=460.png">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Insurance and Banking Partners</h4>
                </div><br><br><br>
                <div class="col m6 s12 center si9">
                    <img src="/uploads/sponsors/LIC.png">
                </div>
                <div class="col m6 s12 center si9">
                    <img src="/uploads/sponsors/indianbank.jpg">
                <br><br><br><br>
                </div>
            </div>
            <div class="row">
                <div class="gradient7">
                    <h4><span></span>Education Partners</h4>
                </div><br><br><br>
                <div class="col m6 s12 center si10">
                    <img src="/uploads/sponsors/IMS.png">
                </div>
                <div class="col m6 s12 center si10">
                    <img src="/uploads/sponsors/codestreet.png">
                <br><br><br><br>
                </div>
            </div>
        </div>

    </div>

<style>
    .row > h4{
        width: 80%;
        font-size: 35px;
        color: black;
        text-align: center;
        text-decoration: none;
        font-family: 'Righteous', cursive;
        /*box-shadow: 1px 1px 1px orange;*/
        margin:auto;

    }
    .center{
        text-align: center;
    }
    .si1 img{
        width: 40vh;
    }
    .si2 img{
        width: 250px;
    }
    .si4 img{
        width: 250px;
    }
    .si5 img{
        width: 250px;
    }
    .si7 img{
        width: 250px;
    }
    .si8 img{
        width: 250px;
    }
    .si9 img{
        width: 250px;
    }
    .si10 img{
        width: 250px;
    }
    .borderline1 {
    width: 70%;
    border-top: 2px solid black;
    height: 2px;
    margin: 15px auto 0;
    margin-bottom: 30px;
    position: relative;
}

.borderline1:before {
    background-color: #fb6514;
    border: 1px ridge #fff;
    content: "";
    height: 10px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    top: -5px;
    width: 200px;
}
.gradient7 {
    text-align: center;
    background: rgba(0,0,0,0.8);
    width: 70%;
    margin: auto;
}
.gradient7 h4 {
    font-family: 'Acme', sans-serif;
    position: relative;
    margin: 0;
    font-size: 30px;
    color: white;
    letter-spacing: -2px;
}
.gradient7 h4 span {
    background: url("/uploads/stripe.png") repeat-x;
    position: absolute;
    bottom: -0.1em;
    display: block;
    width: 100%;
    height: 35px;
}
</style>
<% end %>
