.mycard {
    width: 50%;
    float: left;
    margin: 1.66%;
    background: white;
    color: black;
}

.mycard:hover {
    color: white;
    background: #483D8B;
}

@media screen and (max-width:1036px) {
    .mycard {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (max-width:626px) {
    .mycard {
        height: 670px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 25px;
    }
}

@media screen and (max-width:487px) {
    .mycard {
        height: 500px;
    }
}

@media screen and (max-width:371px) {
    .mycard {
        height: 430px;
    }
}

body {
    color: #61443e;
    font-size: 13px;
    background-color: #ffffff;
    margin: 0px;
    overflow-x: hidden;
}

#webglcontainer {
    width: 100vw;
    height: 100vh;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -9999;
}

#section2 {
    /*background-color: rgba(54,67,70,0.8);*/
}

.registerevtbtn {
  width: 100%;
  border-radius: 11px;
  color: #fd5732;
  background: white;
  padding: 7px 20px 7px 20px;
  border: solid #fd5732 1px;
  transition: background-color 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.registerevtbtn:hover {
  color: white;
  background: #fd5e3a;
}

.registerevtbtn:focus {
  outline: 0px;
  color: white;
  background: #fd5732;
}

.registerevtbtn-block {
  margin-top: 40px;
}

.flagship {
    height: 100px;
    text-align: center;
    background-color: white;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    padding: 10px;
    vertical-align: middle;
}

.fb-contain {
  border-radius: 10px;
  border: 2px solid white;
}

.updatebanner {
  padding: 10px;
  text-align: center;
  background-color: rgb(70,70,70);
  
}