/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_self
  *= require font-awesome
 */
 @import "https://fonts.googleapis.com/icon?family=Material+Icons";


@import "materialize";


::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #db5726;
    -webkit-border-radius: 0.5ex;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar-corner {
    background: #000;
}
*{
    font-family: 'Ubuntu', sans-serif;
}
.totalrow
{
    color:white;
    width:100vw;
    padding-top:30px;
    float:left;
}
.mycontainer
{
    width:100vw;
    background: rgba(0,0,0,0.7);
    float:left;
}
nav a {margin:0;padding:10px;position: relative;
}

nav a{
  text-decoration: none;
  color: black;
}

nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #ee7436;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
nav a:hover:before,
nav a:focus:before {
  visibility: visible;
  transform: scaleX(1);
}

.fa-android{
  font-size: 2em;
  color: white;
  background-color: grey;
  padding: 15px 17px 15px 17px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, height 1s, transform 1s;
}

.fa-android:hover {
  font-size: 2em;
  color: white;
  background-color: #db5726;
  padding: 15px 17px 15px 17px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

.social-icon .fa-facebook{
  font-size: 2em;
  position: relative;
  background-color: grey;
  padding: 15px 20px 15px 20px;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s; /* Safari */
  transition: width 1s, height 1s, transform 1s;
}
.social-icon .fa-facebook:hover{
  font-size: 2em;
  position: relative;
  background-color: #db5726;
  padding: 15px 20px 15px 20px;
    -webkit-transform: rotate(360deg); /* Safari */
    transform: rotate(360deg);
}

nav {

  background-color: rgba(0,0,0,0.4);

}

footer li{
  font-family: 'Ubuntu', sans-serif;
}


.stylize:hover
{
    background:rgba(0,0,0,0.1);
}
.side-nav{
  background-color: white;
  width: 200px;
}
  .fa-facebook{
     color: white;
     font-size: 2em;
  }
  #social_links {
    position: fixed;
    z-index: 10000;
    right: 0px;
    top: 65px;
    display: flex;
    padding: 20px;
    padding-right: 10px;
}
  #social_links li{
    list-style: none;
  }
  #body{
    overflow-x: hidden;
    min-height: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #footer{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:rgba(0,0,0,0.9);
    bottom: 0px;
    border-top: 2px solid black;
  }
  nav .nav-wrapper{
    background-color: rgba(0,0,0,0.5);
   z-index: 20000;
  }
  nav{
    background-color: rgba(0,0,0,0.5);
   z-index: 20000;
  }
  nav ul li a{
    font-size: 20px;
  }
  .side-nav{
    z-index: 20000;
  }
  a{
    color: #000000;
  }
  a:hover
  {
    transition: 1s;
      color:#ee7436;
  }


/*EVENT PAGE CSS STARTS*/

.category{
  box-shadow: 0 0 0.2em black;
  text-align: center;
  font-size: 15px;
  padding: 20px;
  color: white;
  font-weight: 700;
  border-top: 2px solid black;
  -webkit-transition: background-color 2s ease-out;
  display: flex;
  background-color: rgba(0,0,0,0.2);
}

.category:hover{
  display: flex;
  text-align: center;
  padding: 20px;
  color: #ff5e00;
  background-color: rgba(0,0,0,0.7);
  -webkit-transition: 0.5s;
}
.row li a{
  text-decoration: none;
  font-size: 16px;
  list-style: none;
}
.card-container {
position: relative;
flex-wrap: wrap;
overflow: hidden;
padding-top: 15px;
padding-bottom: 15px;
display: flex;
justify-content: space-around;
align-items: auto;
}
.card {
min-width: 275px;
width: 275px;
position: relative;
margin: 15px 15px;
height: 375px;
border-radius: 7px;
background-size: cover;
background: rgba(0, 0, 0, 0.2);
transition: 0.2s all linear;
border: 1px solid rgba(128, 128, 128, 0.15);
box-sizing: border-box;
}
.card .card-social {
position: absolute;
height: 100px;
width: 100%;
background: red;
border-bottom-right-radius: 5px;
border-bottom-left-radius: 5px;
background: rgba(0, 0, 0, 0.6);
box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
top: 275px;
}
.card .card-social ul {
padding: 0;
margin: 0;
list-style: none;
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
}
.card .card-social ul li {
height: 100%;
text-align: center;
line-height: 75px;
font-size: 1.5em;
color: rgba(255, 255, 255, 0.85);
text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.card .card-social ul li:hover {
text-shadow: 7px 7px 5px rgba(0, 0, 0, 0.7);
transition: all 0.1s linear;
}
.card .card-image {
width: 100%;
height: 275px;
position: relative;
background-image: url("http://images.all-free-download.com/images/graphicthumb/chinese_traditional_culture_bamboo_background_template_layered_177185.jpg");
border-top-right-radius: 5px;
border-top-left-radius: 5px;
}
.card .card-info {
position: relative;
width: 100%;
height: 35px;
line-height: 35px;
top: -265px;
border-top-right-radius: 5px;
border-top-left-radius: 5px;
color: rgba(255, 255, 255, 0.85);
}
.card .card-info .card-title {
line-height: 35px;
height: 50px;
position: relative;
top: 0px;
font-size: 25px;
text-align: center;
background: rgba(0, 0, 0, 0.6);
box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
}
.card .card-info .card-detail {
line-height: 1.5em;
font-size: 1em;
height: 220px;
background-color: rgba(0, 0, 0, 0.6);
position: relative;
top: 5px;
padding: 5px 20px 0px 20px;
opacity: 0;
transform: scaleY(0);
transform-origin: center top;
box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.3);

}
.card:hover {
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}
.card:hover .card-info .card-title {
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
transition: 0.3s all linear;
}
.card:hover .card-info .card-detail {
opacity: 1;
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
transition: 0.35s all linear;
transition-delay: 0.1s;
transform: scaleY(1);
}

/*EVENT PAGE CSS ENDS*/
